# Finance Resources

In [10]:
import unipy as up
import pandas as pd
import numpy as np
import scipy as sp
import datetime as dt
import pandas_datareader as pdr

## Pandas-DataReader

In [ ]:
from pandas_datareader import data
df = data.DataReader("KRX:KOSPI", "google")

In [17]:
start_dt = dt.datetime(2000, 1, 1)
end_dt = dt.datetime(2017, 11, 16)

### Get KOSPI from `yahoo`

In [18]:
pdr.get_data_yahoo('^KS11', start_dt, end_dt)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-04,1028.329956,1066.180054,1016.590027,1059.040039,1059.040039,19589800.0
2000-01-05,1006.869995,1026.520020,984.049988,986.309998,986.309998,25769600.0
2000-01-06,1013.950012,1014.900024,953.500000,960.789978,960.789978,20352300.0
2000-01-07,949.169983,970.159973,930.840027,948.650024,948.650024,21566400.0
2000-01-10,979.669983,994.940002,974.820007,987.239990,987.239990,24017500.0
2000-01-11,992.169983,1005.869995,981.229980,981.330017,981.330017,25707000.0
2000-01-12,957.979980,968.679993,949.200012,955.010010,955.010010,22707900.0
2000-01-13,955.059998,960.729980,939.250000,951.049988,951.049988,22300100.0
2000-01-14,958.820007,970.590027,937.750000,948.030029,948.030029,22495700.0
2000-01-17,962.669983,986.090027,959.359985,983.270020,983.270020,21205800.0
2000-01-18,992.309998,992.849976,967.960022,981.530029,981.530029,21208000.0
2000-01-19,969.309998,969.309998,938.739990,938.780029,938.780029,23572600.0
2000-01-20,927.119995,945.900024,906.260010,945.900024,945.900024,22668400.0
2000-01-21,928.549988,940.700012,911.830017,925.159973,925.159973,25513500.0
2000-01-24,917.929993,944.309998,915.700012,926.770020,926.770020,21041300.0
2000-01-25,909.119995,913.190002,891.219971,891.219971,891.219971,24259100.0
2000-01-26,896.340027,902.429993,875.820007,885.539978,885.539978,23114600.0
2000-01-27,888.270020,912.489990,879.000000,909.229980,909.229980,34491100.0
2000-01-28,922.739990,943.950012,916.859985,941.669983,941.669983,29313700.0
2000-01-31,924.830017,948.840027,922.919983,943.880005,943.880005,28943500.0
2000-02-01,955.440002,959.309998,923.520020,928.750000,928.750000,30614300.0
2000-02-02,929.690002,950.130005,923.400024,943.590027,943.590027,31040600.0
2000-02-03,950.260010,959.000000,934.109985,950.219971,950.219971,27712100.0
2000-02-04,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-07,953.229980,982.030029,951.309998,973.130005,973.130005,27176500.0
2000-02-08,977.070007,981.419983,960.469971,961.219971,961.219971,22949000.0
2000-02-09,967.530029,979.919983,966.150024,976.049988,976.049988,24044600.0
2000-02-10,966.359985,991.710022,957.729980,966.179993,966.179993,25161400.0
2000-02-11,990.109985,990.750000,941.239990,953.219971,953.219971,27478000.0
2000-02-14,932.940002,941.229980,907.909973,910.869995,910.869995,23418000.0
...,...,...,...,...,...,...
2017-09-29,2378.659912,2394.469971,2378.659912,2394.469971,2394.469971,184200.0
2017-10-02,NaN,NaN,NaN,NaN,NaN,NaN
2017-10-10,2425.629883,2443.199951,2421.100098,2433.810059,2433.810059,221700.0
2017-10-11,2442.489990,2458.159912,2439.810059,2458.159912,2458.159912,201800.0
2017-10-12,2461.699951,2474.760010,2459.479980,2474.760010,2474.760010,256200.0
2017-10-13,2473.649902,2479.729980,2468.139893,2473.620117,2473.620117,234800.0
2017-10-16,2483.169922,2487.709961,2470.239990,2480.050049,2480.050049,224400.0
2017-10-17,2484.959961,2487.879883,2478.760010,2484.370117,2484.370117,199000.0
2017-10-18,2481.530029,2490.580078,2475.669922,2482.909912,2482.909912,244200.0
2017-10-19,2485.719971,2490.939941,2468.669922,2473.060059,2473.060059,236600.0
2017-10-20,2477.300049,2489.540039,2476.879883,2489.540039,2489.540039,313200.0
2017-10-23,2497.649902,2500.330078,2485.479980,2490.050049,2490.050049,274200.0
2017-10-24,2489.310059,2497.350098,2487.169922,2490.489990,2490.489990,232000.0
2017-10-25,2495.870117,2497.409912,2481.479980,2492.500000,2492.500000,599400.0
2017-10-26,2489.600098,2495.989990,2480.629883,2480.629883,2480.629883,646900.0
2017-10-27,2485.439941,2499.149902,2479.669922,2496.629883,2496.629883,511200.0
2017-10-30,2513.870117,2513.870117,2497.419922,2501.929932,2501.929932,342000.0
2017-10-31,2500.209961,2528.320068,2498.050049,2523.429932,2523.429932,313800.0
2017-11-01,2535.969971,2556.469971,2535.830078,2556.469971,2556.469971,361800.0
2017-11-02,2560.340088,2561.629883,2542.020020,2546.360107,2546.360107,527700.0
2017-11-03,2558.370117,2558.370117,2539.719971,2557.969971,2557.969971,292800.0
2017-11-06,2557.290039,2559.899902,2529.939941,2549.409912,2549.409912,221200.0
2017-11-07,2548.300049,2554.129883,2540.669922,2545.439941,2545.439941,253900.0
2017-11-08,2534.479980,2558.739990,2533.729980,2552.399902,2552.399902,277000.0
2017-11-09,2559.929932,2559.929932,2536.540039,2550.570068,2550.570068,293500.0
2017-11-10,2541.179932,2547.610107,2534.600098,2542.949951,2542.949951,291500.0
2017-11-13,2548.270020,2552.280029,2527.199951,2530.350098,2530.350098,266500.0
2017-11-14,2532.550049,2532.949951,2520.989990,2526.639893,2526.639893,287800.0
2017-11-15,2525.600098,2526.610107,2511.760010,2518.250000,2518.250000,398200.0
2017-11-16,2522.419922,2538.280029,2514.510010,2534.790039,2534.790039,296914.0

### Get KOSPI from `google`

In [19]:
pdr.get_data_google('KRX:KOSPI', start_dt, end_dt)

               Open     High      Low    Close     Volume
Date
2016-11-17  1976.21  1983.87  1968.80  1980.55  272172000
2016-11-18  1983.07  1983.26  1968.13  1974.58  306956000
2016-11-21  1971.03  1976.23  1962.42  1966.05  223512000
2016-11-22  1976.07  1986.82  1974.05  1983.47  231368000
2016-11-23  1987.64  1996.65  1981.22  1987.95  308200000
2016-11-24  1985.11  1988.96  1968.50  1971.26  235443000
2016-11-25  1972.60  1978.45  1969.09  1974.46  201938000
2016-11-28  1976.58  1983.43  1966.78  1978.13  213578000
2016-11-29  1977.10  1982.53  1972.31  1978.39  214565000
2016-11-30  1980.38  1988.44  1977.09  1983.48  233085000
2016-12-01  1987.48  1989.08  1979.67  1983.75  217875000
2016-12-02  1980.14  1981.64  1966.42  1970.61  243181000
2016-12-05  1965.71  1971.24  1960.65  1963.36  237190000
2016-12-06  1976.51  1993.47  1976.51  1989.86  214649000
2016-12-07  1995.69  1997.62  1987.26  1991.89  204410000
2016-12-08  2008.31  2031.07  2007.57  2031.07  239428000
2016-12-09  2024.52  2026.83  2019.79  2024.69  225657000
2016-12-12  2031.95  2031.95  2020.97  2027.24  289804000
2016-12-13  2026.39  2035.99  2023.61  2035.98  383364000
2016-12-14  2043.07  2044.42  2031.18  2036.87  384033000
2016-12-15  2022.14  2040.62  2021.76  2036.65  300190000
2016-12-16  2037.35  2043.60  2033.23  2042.24  289708000
2016-12-19  2039.40  2046.03  2037.04  2038.39  249870000
2016-12-20  2044.87  2047.38  2040.81  2041.94  314221000
2016-12-21  2049.47  2053.46  2037.96  2037.96  284570000
2016-12-22  2041.61  2042.90  2033.99  2035.73  275096000
2016-12-23  2036.17  2037.71  2031.54  2035.90  310882000
2016-12-26  2038.33  2039.76  2034.80  2037.75  366636000
2016-12-27  2040.74  2044.43  2037.12  2042.17  384033000
2016-12-28  2021.86  2029.69  2020.86  2024.49  356590000
...             ...      ...      ...      ...        ...
2017-09-27  2376.89  2377.18  2368.92  2372.57  202618000
2017-09-28  2374.10  2379.54  2365.67  2373.14  194772000
2017-09-29  2378.66  2394.47  2378.66  2394.47  184191000
2017-10-10  2425.63  2443.20  2421.10  2433.81  221744000
2017-10-11  2442.49  2458.16  2439.81  2458.16  201771000
2017-10-12  2461.70  2474.76  2459.48  2474.76  256211000
2017-10-13  2473.65  2479.73  2468.14  2473.62  234800000
2017-10-16  2483.17  2487.71  2470.24  2480.05  224414000
2017-10-17  2484.96  2487.88  2478.76  2484.37  199049000
2017-10-18  2481.53  2490.58  2475.67  2482.91  244245000
2017-10-19  2485.72  2490.94  2468.67  2473.06  236625000
2017-10-20  2477.30  2489.54  2476.88  2489.54  313210000
2017-10-23  2497.65  2500.33  2485.48  2490.05  274201000
2017-10-24  2489.31  2497.35  2487.17  2490.49  232007000
2017-10-25  2495.87  2497.41  2481.48  2492.50  599434000
2017-10-26  2489.60  2495.99  2480.63  2480.63  646882000
2017-10-27  2485.44  2499.15  2479.67  2496.63  511225000
2017-10-30  2513.87  2513.87  2497.42  2501.93  342006000
2017-10-31  2500.21  2528.32  2498.05  2523.43  313787000
2017-11-01  2535.97  2556.47  2535.83  2556.47  361796000
2017-11-02  2560.34  2561.63  2542.02  2546.36  527727000
2017-11-03  2558.37  2558.37  2539.72  2557.97  292766000
2017-11-06  2557.29  2559.90  2529.94  2549.41  221187000
2017-11-07  2548.30  2554.13  2540.67  2545.44  253921000
2017-11-08  2534.48  2558.74  2533.73  2552.40  277039000
2017-11-09  2559.93  2559.93  2536.54  2550.57  293539000
2017-11-10  2541.18  2547.61  2534.60  2542.95  291525000
2017-11-13  2548.27  2552.28  2527.20  2530.35  266530000
2017-11-14  2532.55  2532.95  2520.99  2526.64  287771000
2017-11-15  2525.60  2526.61  2511.76  2518.25  398215000

[244 rows x 5 columns]

## Stock Exchange

### KR

#### KOSPI

In [76]:
pdr.get_data_yahoo('^KS11', start_dt, end_dt)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-04,1028.329956,1066.180054,1016.590027,1059.040039,1059.040039,19589800.0
2000-01-05,1006.869995,1026.520020,984.049988,986.309998,986.309998,25769600.0
2000-01-06,1013.950012,1014.900024,953.500000,960.789978,960.789978,20352300.0
2000-01-07,949.169983,970.159973,930.840027,948.650024,948.650024,21566400.0
2000-01-10,979.669983,994.940002,974.820007,987.239990,987.239990,24017500.0
2000-01-11,992.169983,1005.869995,981.229980,981.330017,981.330017,25707000.0
2000-01-12,957.979980,968.679993,949.200012,955.010010,955.010010,22707900.0
2000-01-13,955.059998,960.729980,939.250000,951.049988,951.049988,22300100.0
2000-01-14,958.820007,970.590027,937.750000,948.030029,948.030029,22495700.0
2000-01-17,962.669983,986.090027,959.359985,983.270020,983.270020,21205800.0
2000-01-18,992.309998,992.849976,967.960022,981.530029,981.530029,21208000.0
2000-01-19,969.309998,969.309998,938.739990,938.780029,938.780029,23572600.0
2000-01-20,927.119995,945.900024,906.260010,945.900024,945.900024,22668400.0
2000-01-21,928.549988,940.700012,911.830017,925.159973,925.159973,25513500.0
2000-01-24,917.929993,944.309998,915.700012,926.770020,926.770020,21041300.0
2000-01-25,909.119995,913.190002,891.219971,891.219971,891.219971,24259100.0
2000-01-26,896.340027,902.429993,875.820007,885.539978,885.539978,23114600.0
2000-01-27,888.270020,912.489990,879.000000,909.229980,909.229980,34491100.0
2000-01-28,922.739990,943.950012,916.859985,941.669983,941.669983,29313700.0
2000-01-31,924.830017,948.840027,922.919983,943.880005,943.880005,28943500.0
2000-02-01,955.440002,959.309998,923.520020,928.750000,928.750000,30614300.0
2000-02-02,929.690002,950.130005,923.400024,943.590027,943.590027,31040600.0
2000-02-03,950.260010,959.000000,934.109985,950.219971,950.219971,27712100.0
2000-02-04,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-07,953.229980,982.030029,951.309998,973.130005,973.130005,27176500.0
2000-02-08,977.070007,981.419983,960.469971,961.219971,961.219971,22949000.0
2000-02-09,967.530029,979.919983,966.150024,976.049988,976.049988,24044600.0
2000-02-10,966.359985,991.710022,957.729980,966.179993,966.179993,25161400.0
2000-02-11,990.109985,990.750000,941.239990,953.219971,953.219971,27478000.0
2000-02-14,932.940002,941.229980,907.909973,910.869995,910.869995,23418000.0
...,...,...,...,...,...,...
2017-09-29,2378.659912,2394.469971,2378.659912,2394.469971,2394.469971,184200.0
2017-10-02,NaN,NaN,NaN,NaN,NaN,NaN
2017-10-10,2425.629883,2443.199951,2421.100098,2433.810059,2433.810059,221700.0
2017-10-11,2442.489990,2458.159912,2439.810059,2458.159912,2458.159912,201800.0
2017-10-12,2461.699951,2474.760010,2459.479980,2474.760010,2474.760010,256200.0
2017-10-13,2473.649902,2479.729980,2468.139893,2473.620117,2473.620117,234800.0
2017-10-16,2483.169922,2487.709961,2470.239990,2480.050049,2480.050049,224400.0
2017-10-17,2484.959961,2487.879883,2478.760010,2484.370117,2484.370117,199000.0
2017-10-18,2481.530029,2490.580078,2475.669922,2482.909912,2482.909912,244200.0
2017-10-19,2485.719971,2490.939941,2468.669922,2473.060059,2473.060059,236600.0
2017-10-20,2477.300049,2489.540039,2476.879883,2489.540039,2489.540039,313200.0
2017-10-23,2497.649902,2500.330078,2485.479980,2490.050049,2490.050049,274200.0
2017-10-24,2489.310059,2497.350098,2487.169922,2490.489990,2490.489990,232000.0
2017-10-25,2495.870117,2497.409912,2481.479980,2492.500000,2492.500000,599400.0
2017-10-26,2489.600098,2495.989990,2480.629883,2480.629883,2480.629883,646900.0
2017-10-27,2485.439941,2499.149902,2479.669922,2496.629883,2496.629883,511200.0
2017-10-30,2513.870117,2513.870117,2497.419922,2501.929932,2501.929932,342000.0
2017-10-31,2500.209961,2528.320068,2498.050049,2523.429932,2523.429932,313800.0
2017-11-01,2535.969971,2556.469971,2535.830078,2556.469971,2556.469971,361800.0
2017-11-02,2560.340088,2561.629883,2542.020020,2546.360107,2546.360107,527700.0
2017-11-03,2558.370117,2558.370117,2539.719971,2557.969971,2557.969971,292800.0
2017-11-06,2557.290039,2559.899902,2529.939941,2549.409912,2549.409912,221200.0
2017-11-07,2548.300049,2554.129883,2540.669922,2545.439941,2545.439941,253900.0
2017-11-08,2534.479980,2558.739990,2533.729980,2552.399902,2552.399902,277000.0
2017-11-09,2559.929932,2559.929932,2536.540039,2550.570068,2550.570068,293500.0
2017-11-10,2541.179932,2547.610107,2534.600098,2542.949951,2542.949951,291500.0
2017-11-13,2548.270020,2552.280029,2527.199951,2530.350098,2530.350098,266500.0
2017-11-14,2532.550049,2532.949951,2520.989990,2526.639893,2526.639893,287800.0
2017-11-15,2525.600098,2526.610107,2511.760010,2518.250000,2518.250000,398200.0
2017-11-16,2522.419922,2538.280029,2514.510010,2534.790039,2534.790039,302900.0

#### KOSDAQ

In [95]:
pdr.DataReader('^KQ11', 'yahoo', start_dt, end_dt).sort_index()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-03-04,538.520020,539.849976,537.359985,537.380005,537.380005,372100.0
2013-03-05,540.429993,544.109985,540.429993,543.960022,543.960022,455100.0
2013-03-06,547.570007,547.609985,542.700012,544.359985,544.359985,486300.0
2013-03-07,545.400024,545.419983,538.289978,541.299988,541.299988,509600.0
2013-03-08,542.789978,544.010010,539.590027,543.099976,543.099976,0.0
2013-03-11,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-12,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-13,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-14,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-15,556.630005,556.630005,553.419983,554.809998,554.809998,0.0
2013-03-18,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-19,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-20,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-21,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-22,546.219971,551.429993,546.099976,551.250000,551.250000,0.0
2013-03-25,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-26,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-27,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-28,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-29,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-01,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-02,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-03,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-04,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-05,556.919983,558.289978,543.570007,547.510010,547.510010,0.0
2013-04-08,547.179993,548.090027,528.780029,528.780029,528.780029,459600.0
2013-04-09,526.039978,535.299988,517.099976,528.150024,528.150024,494100.0
2013-04-10,530.919983,534.840027,527.750000,534.840027,534.840027,395900.0
2013-04-11,540.070007,544.530029,535.770020,544.299988,544.299988,440500.0
2013-04-12,547.650024,551.020020,546.719971,547.190002,547.190002,0.0
...,...,...,...,...,...,...
2017-09-29,650.320007,653.580017,648.679993,652.820007,652.820007,692300.0
2017-10-02,NaN,NaN,NaN,NaN,NaN,NaN
2017-10-10,658.760010,659.510010,653.909973,654.590027,654.590027,554200.0
2017-10-11,656.849976,662.309998,656.760010,662.309998,662.309998,558400.0
2017-10-12,665.119995,666.739990,663.369995,666.539978,666.539978,561100.0
2017-10-13,669.000000,672.780029,659.099976,663.080017,663.080017,616600.0
2017-10-16,667.260010,668.500000,652.169983,659.409973,659.409973,554300.0
2017-10-17,660.609985,671.950012,660.330017,670.510010,670.510010,700000.0
2017-10-18,677.419983,679.500000,667.309998,668.419983,668.419983,713700.0
2017-10-19,671.219971,671.390015,664.190002,667.099976,667.099976,710600.0
2017-10-20,669.059998,672.950012,667.169983,672.950012,672.950012,659100.0
2017-10-23,674.979980,677.690002,674.640015,675.859985,675.859985,500000.0
2017-10-24,678.549988,687.450012,678.340027,687.210022,687.210022,583200.0
2017-10-25,688.830017,690.299988,684.840027,689.140015,689.140015,622300.0
2017-10-26,689.940002,690.530029,680.609985,680.609985,680.609985,600300.0
2017-10-27,685.200012,689.969971,682.900024,689.969971,689.969971,537100.0
2017-10-30,692.760010,693.119995,688.409973,689.679993,689.679993,470700.0
2017-10-31,691.070007,694.229980,689.289978,694.200012,694.200012,627100.0
2017-11-01,696.650024,696.929993,694.270020,695.770020,695.770020,630600.0
2017-11-02,698.140015,698.909973,691.520020,694.960022,694.960022,608900.0
2017-11-03,697.429993,701.130005,695.880005,701.130005,701.130005,661000.0
2017-11-06,703.200012,704.159973,699.750000,703.789978,703.789978,595300.0
2017-11-07,704.830017,704.830017,697.440002,701.140015,701.140015,649900.0
2017-11-08,702.690002,709.109985,701.520020,709.109985,709.109985,812400.0
2017-11-09,710.710022,711.780029,705.280029,709.940002,709.940002,614800.0
2017-11-10,709.849976,720.789978,709.549988,720.789978,720.789978,599900.0
2017-11-13,724.760010,741.380005,724.760010,741.380005,741.380005,687100.0
2017-11-14,746.880005,756.460022,742.789978,756.460022,756.460022,837100.0
2017-11-15,759.549988,773.049988,755.059998,768.030029,768.030029,944900.0
2017-11-16,775.460022,780.219971,759.700012,780.219971,780.219971,897400.0

## US

#### NASDAQ

In [22]:
pdr.get_data_yahoo('NDAQ', start_dt, end_dt)

                 Open       High        Low      Close  Adj Close     Volume
Date
2002-07-01  15.000000  15.000000  15.000000  15.000000  13.694478     1300.0
2002-07-02  15.500000  16.500000  15.000000  15.130000  13.813163     7000.0
2002-07-03  14.000000  16.000000  14.000000  15.000000  13.694478    10200.0
2002-07-05  15.000000  15.000000  15.000000  15.000000  13.694478      500.0
2002-07-08  14.000000  14.000000  14.000000  14.000000  12.781513      300.0
2002-07-09  14.000000  15.500000  14.000000  15.500000  14.150962     2300.0
2002-07-10  13.750000  15.500000  13.750000  15.500000  14.150962      500.0
2002-07-11  15.500000  15.500000  15.500000  15.500000  14.150962        0.0
2002-07-12  15.000000  15.000000  15.000000  15.000000  13.694478      100.0
2002-07-15  14.750000  14.750000  12.500000  12.750000  11.640306    42700.0
2002-07-16  12.750000  12.750000  12.500000  12.500000  11.412066     5900.0
2002-07-17  12.500000  12.500000  12.250000  12.500000  11.412066     2400.0
2002-07-18  12.300000  12.300000  11.750000  11.750000  10.727341     1400.0
2002-07-19  11.600000  11.600000  10.050000  10.500000   9.586134    10700.0
2002-07-22  10.500000  10.500000  10.000000  10.200000   9.312242     4600.0
2002-07-23  10.200000  10.200000  10.200000  10.200000   9.312242      100.0
2002-07-24  10.200000  10.500000  10.200000  10.500000   9.586134     2200.0
2002-07-25  10.500000  10.500000  10.150000  10.150000   9.266599     1300.0
2002-07-26  10.150000  10.150000  10.150000  10.150000   9.266599        0.0
2002-07-29  10.500000  11.100000  10.450000  11.100000  10.133915     4100.0
2002-07-30  11.250000  11.850000  11.250000  11.500000  10.499100     8900.0
2002-07-31  11.900000  12.000000  11.750000  12.000000  10.955585     5000.0
2002-08-01  11.800000  11.900000  11.800000  11.800000  10.772989     4300.0
2002-08-02  11.800000  11.800000  11.800000  11.800000  10.772989        0.0
2002-08-05  11.900000  12.000000  11.850000  11.850000  10.818638    28600.0
2002-08-06  12.000000  12.000000  12.000000  12.000000  10.955585    10000.0
2002-08-07  11.980000  12.050000  11.950000  12.050000  11.001231     4400.0
2002-08-08  12.100000  12.100000  12.050000  12.100000  11.046877    12300.0
2002-08-09  12.150000  12.150000  12.150000  12.150000  11.092526     3400.0
2002-08-12  12.150000  12.150000  12.100000  12.150000  11.092526    24400.0
...               ...        ...        ...        ...        ...        ...
2017-10-05  77.730003  78.070000  77.419998  77.650002  77.650002   708200.0
2017-10-06  77.730003  77.849998  73.709999  73.900002  73.900002  2600800.0
2017-10-09  73.500000  75.300003  73.430000  74.500000  74.500000  2026200.0
2017-10-10  74.339996  74.790001  73.639999  74.559998  74.559998  1245300.0
2017-10-11  74.660004  75.690002  74.379997  75.629997  75.629997  1368500.0
2017-10-12  75.709999  75.750000  74.720001  74.910004  74.910004  1308300.0
2017-10-13  74.800003  74.949997  74.099998  74.339996  74.339996  1148700.0
2017-10-16        NaN        NaN        NaN        NaN        NaN        NaN
2017-10-17        NaN        NaN        NaN        NaN        NaN        NaN
2017-10-18        NaN        NaN        NaN        NaN        NaN        NaN
2017-10-19        NaN        NaN        NaN        NaN        NaN        NaN
2017-10-20        NaN        NaN        NaN        NaN        NaN        NaN
2017-10-23        NaN        NaN        NaN        NaN        NaN        NaN
2017-10-24        NaN        NaN        NaN        NaN        NaN        NaN
2017-10-25        NaN        NaN        NaN        NaN        NaN        NaN
2017-10-26        NaN        NaN        NaN        NaN        NaN        NaN
2017-10-27        NaN        NaN        NaN        NaN        NaN        NaN
2017-10-30        NaN        NaN        NaN        NaN        NaN        NaN
2017-10-31        NaN        NaN        NaN        NaN        NaN        NaN
2017-11-01        NaN        NaN        NaN        NaN        NaN        NaN
2017-11-02        NaN        NaN        NaN        NaN        NaN        NaN
2017-11-03        NaN        NaN        NaN        NaN        NaN        NaN
2017-11-06  72.220001  72.459999  71.830002  71.970001  71.970001   627300.0
2017-11-07  71.800003  72.769997  71.650002  72.019997  72.019997  1211200.0
2017-11-08  72.120003  72.910004  71.949997  72.739998  72.739998   633600.0
2017-11-09  72.559998  73.790001  72.150002  73.730003  73.730003  1001400.0
2017-11-10  73.449997  73.760002  72.949997  73.570000  73.570000  1196000.0
2017-11-13  73.639999  75.889999  73.320000  75.410004  75.410004  1349600.0
2017-11-14  75.309998  76.010002  75.029999  75.970001  75.970001  1073100.0
2017-11-15  75.930000  76.440002  75.650002  75.930000  75.930000  1273500.0

[3874 rows x 6 columns]

#### New York  Stock Exchange

In [24]:
pdr.get_data_yahoo('^NYA', start_dt, end_dt)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-12-31,6876.100098,6876.100098,6876.100098,6876.100098,6876.100098,0
2000-01-03,6762.109863,6762.109863,6762.109863,6762.109863,6762.109863,0
2000-01-04,6543.759766,6543.759766,6543.759766,6543.759766,6543.759766,0
2000-01-05,6567.029785,6567.029785,6567.029785,6567.029785,6567.029785,0
2000-01-06,6635.439941,6635.439941,6635.439941,6635.439941,6635.439941,0
2000-01-07,6792.669922,6792.669922,6792.669922,6792.669922,6792.669922,0
2000-01-10,6838.450195,6838.450195,6838.450195,6838.450195,6838.450195,0
2000-01-11,6774.479980,6774.479980,6774.479980,6774.479980,6774.479980,0
2000-01-12,6766.549805,6766.549805,6766.549805,6766.549805,6766.549805,0
2000-01-13,6836.759766,6836.759766,6836.759766,6836.759766,6836.759766,0
2000-01-14,6870.490234,6870.490234,6870.490234,6870.490234,6870.490234,0
2000-01-18,6808.640137,6808.640137,6808.640137,6808.640137,6808.640137,0
2000-01-19,6823.970215,6823.970215,6823.970215,6823.970215,6823.970215,0
2000-01-20,6772.580078,6772.580078,6772.580078,6772.580078,6772.580078,0
2000-01-21,6762.750000,6762.750000,6762.750000,6762.750000,6762.750000,0
2000-01-24,6611.120117,6611.120117,6611.120117,6611.120117,6611.120117,0
2000-01-25,6606.779785,6606.779785,6606.779785,6606.779785,6606.779785,0
2000-01-26,6644.850098,6644.850098,6644.850098,6644.850098,6644.850098,0
2000-01-27,6627.189941,6627.189941,6627.189941,6627.189941,6627.189941,0
2000-01-28,6469.109863,6469.109863,6469.109863,6469.109863,6469.109863,0
2000-01-31,6574.009766,6574.009766,6574.009766,6574.009766,6574.009766,0
2000-02-01,6606.890137,6606.890137,6606.890137,6606.890137,6606.890137,0
2000-02-02,6618.419922,6618.419922,6618.419922,6618.419922,6618.419922,0
2000-02-03,6657.540039,6657.540039,6657.540039,6657.540039,6657.540039,0
2000-02-04,6628.669922,6628.669922,6628.669922,6628.669922,6628.669922,0
2000-02-07,6596.319824,6596.319824,6596.319824,6596.319824,6596.319824,0
2000-02-08,6651.299805,6651.299805,6651.299805,6651.299805,6651.299805,0
2000-02-09,6523.779785,6523.779785,6523.779785,6523.779785,6523.779785,0
2000-02-10,6496.819824,6496.819824,6496.819824,6496.819824,6496.819824,0
2000-02-11,6391.399902,6391.399902,6391.399902,6391.399902,6391.399902,0
...,...,...,...,...,...,...
2017-10-05,12307.719727,12351.139648,12303.049805,12338.929688,12338.929688,3045120000
2017-10-06,12314.610352,12317.980469,12291.870117,12317.690430,12317.690430,2884570000
2017-10-09,12328.190430,12334.309570,12281.169922,12293.950195,12293.950195,2483970000
2017-10-10,12329.650391,12356.000000,12321.610352,12346.589844,12346.589844,2960500000
2017-10-11,12347.209961,12362.190430,12338.179688,12362.059570,12362.059570,2976090000
2017-10-12,12342.150391,12353.139648,12325.030273,12338.740234,12338.740234,3151510000
2017-10-13,12360.870117,12377.889648,12350.030273,12352.000000,12352.000000,3149440000
2017-10-16,12365.990234,12377.250000,12343.179688,12359.519531,12359.519531,2916020000
2017-10-17,12355.219727,12357.639648,12332.250000,12349.969727,12349.969727,2889390000
2017-10-18,12371.299805,12382.589844,12358.099609,12371.019531,12371.019531,2998090000
2017-10-19,12336.150391,12381.519531,12322.129883,12380.320313,12380.320313,2990710000
2017-10-20,12407.980469,12430.650391,12401.639648,12430.519531,12430.519531,3384650000
2017-10-23,12436.759766,12443.799805,12383.360352,12384.419922,12384.419922,3211710000
2017-10-24,12405.969727,12419.509766,12397.259766,12404.990234,12404.990234,3427330000
2017-10-25,12406.200195,12406.200195,12280.309570,12336.580078,12336.580078,3874510000
2017-10-26,12362.839844,12380.280273,12350.500000,12352.429688,12352.429688,3869050000
2017-10-27,12339.650391,12366.700195,12308.360352,12366.429688,12366.429688,3887110000
2017-10-30,12349.360352,12354.559570,12308.839844,12319.469727,12319.469727,3658870000
2017-10-31,12333.820313,12358.759766,12322.450195,12341.009766,12341.009766,3827230000
2017-11-01,12383.870117,12414.599609,12352.099609,12362.879883,12362.879883,3813180000
2017-11-02,12359.290039,12377.089844,12316.769531,12372.959961,12372.959961,4048270000
2017-11-03,12361.019531,12376.230469,12340.889648,12373.059570,12373.059570,3567710000
2017-11-06,12373.070313,12410.660156,12365.509766,12400.929688,12400.929688,3539080000
2017-11-07,12398.790039,12415.959961,12344.639648,12371.250000,12371.250000,3809650000
2017-11-08,12361.230469,12390.530273,12344.150391,12384.719727,12384.719727,3899360000
2017-11-09,12326.320313,12350.700195,12268.070313,12339.660156,12339.660156,3831610000
2017-11-10,12324.379883,12332.240234,12303.860352,12322.599609,12322.599609,3486910000
2017-11-13,12281.190430,12328.160156,12272.209961,12316.820313,12316.820313,3402930000
2017-11-14,12316.830078,12316.830078,12238.080078,12280.110352,12280.110352,3641760000
2017-11-15,12222.089844,12250.919922,12178.889648,12220.339844,12220.339844,3558890000

## Currency Exchange Rate

#### KRW

In [73]:
pdr.DataReader('FRED/DEXKOUS', 'quandl', start_dt, end_dt).sort_index()

              Value
Date
2000-01-03  1128.00
2000-01-04  1122.50
2000-01-05  1135.00
2000-01-06  1146.50
2000-01-07  1138.00
2000-01-10  1133.50
2000-01-11  1147.00
2000-01-12  1144.50
2000-01-13  1135.50
2000-01-14  1125.00
2000-01-18  1127.00
2000-01-19  1134.00
2000-01-20  1126.00
2000-01-21  1128.00
2000-01-24  1124.50
2000-01-25  1127.00
2000-01-26  1127.80
2000-01-27  1125.00
2000-01-28  1121.00
2000-01-31  1124.00
2000-02-01  1127.00
2000-02-02  1131.00
2000-02-03  1130.50
2000-02-04  1130.00
2000-02-07  1129.60
2000-02-08  1129.50
2000-02-09  1124.00
2000-02-10  1121.00
2000-02-11  1115.00
2000-02-14  1128.00
...             ...
2017-09-28  1145.08
2017-09-29  1142.57
2017-10-02  1146.18
2017-10-03  1140.50
2017-10-04  1140.44
2017-10-05  1139.03
2017-10-06  1143.46
2017-10-10  1132.08
2017-10-11  1131.04
2017-10-12  1129.71
2017-10-13  1125.01
2017-10-16  1127.72
2017-10-17  1129.86
2017-10-18  1130.94
2017-10-19  1129.06
2017-10-20  1130.69
2017-10-23  1129.73
2017-10-24  1128.36
2017-10-25  1126.49
2017-10-26  1123.00
2017-10-27  1124.79
2017-10-30  1124.79
2017-10-31  1115.68
2017-11-01  1110.03
2017-11-02  1111.54
2017-11-03  1114.86
2017-11-06  1110.09
2017-11-07  1113.10
2017-11-08  1111.14
2017-11-09  1118.13

[4488 rows x 1 columns]

In [68]:
pdr.DataReader('BOE/XUDLBK74', 'quandl', start_dt, end_dt).sort_index()

               Value
Date
2005-04-01  1007.500
2005-04-04  1012.450
2005-04-05  1012.450
2005-04-06  1012.450
2005-04-07  1012.500
2005-04-08  1015.200
2005-04-11  1015.500
2005-04-12  1016.500
2005-04-13  1011.500
2005-04-14  1017.500
2005-04-15  1015.500
2005-04-18  1019.700
2005-04-19  1013.500
2005-04-20  1010.500
2005-04-21  1008.500
2005-04-22  1004.500
2005-04-25   999.000
2005-04-26   998.800
2005-04-27  1001.500
2005-04-28  1002.500
2005-04-29   997.100
2005-05-03  1002.500
2005-05-04   995.500
2005-05-05   999.700
2005-05-06  1001.500
2005-05-09  1000.500
2005-05-10   999.100
2005-05-11   997.500
2005-05-12   999.600
2005-05-13   996.500
...              ...
2017-10-05  1139.320
2017-10-06  1143.150
2017-10-09  1143.960
2017-10-10  1132.610
2017-10-11  1132.735
2017-10-12  1131.290
2017-10-13  1126.120
2017-10-16  1128.010
2017-10-17  1130.890
2017-10-18  1131.770
2017-10-19  1130.330
2017-10-20  1131.150
2017-10-23  1129.960
2017-10-24  1129.185
2017-10-25  1125.220
2017-10-26  1124.040
2017-10-27  1125.880
2017-10-30  1124.330
2017-10-31  1117.080
2017-11-01  1111.090
2017-11-02  1112.580
2017-11-03  1115.650
2017-11-06  1111.630
2017-11-07  1113.170
2017-11-08  1113.220
2017-11-09  1117.190
2017-11-10  1119.345
2017-11-13  1119.410
2017-11-14  1114.895
2017-11-15  1105.335

[3193 rows x 1 columns]

#### JPY

In [71]:
pdr.DataReader('FRED/DEXJPUS', 'quandl', start_dt, end_dt).sort_index()

             Value
Date
2000-01-03  101.70
2000-01-04  103.09
2000-01-05  103.77
2000-01-06  105.19
2000-01-07  105.17
2000-01-10  105.28
2000-01-11  106.09
2000-01-12  105.76
2000-01-13  106.09
2000-01-14  105.86
2000-01-18  105.49
2000-01-19  105.39
2000-01-20  105.45
2000-01-21  104.96
2000-01-24  105.52
2000-01-25  105.87
2000-01-26  105.85
2000-01-27  104.91
2000-01-28  107.15
2000-01-31  107.33
2000-02-01  107.67
2000-02-02  108.40
2000-02-03  107.92
2000-02-04  107.54
2000-02-07  108.75
2000-02-08  109.59
2000-02-09  109.11
2000-02-10  108.74
2000-02-11  108.99
2000-02-14  108.65
...            ...
2017-09-28  112.66
2017-09-29  112.64
2017-10-02  112.60
2017-10-03  112.80
2017-10-04  112.84
2017-10-05  112.74
2017-10-06  112.68
2017-10-10  112.15
2017-10-11  112.35
2017-10-12  112.38
2017-10-13  111.94
2017-10-16  111.72
2017-10-17  112.32
2017-10-18  112.94
2017-10-19  112.54
2017-10-20  113.50
2017-10-23  113.66
2017-10-24  113.92
2017-10-25  113.70
2017-10-26  113.72
2017-10-27  113.82
2017-10-30  113.26
2017-10-31  113.63
2017-11-01  114.04
2017-11-02  113.84
2017-11-03  114.25
2017-11-06  113.90
2017-11-07  113.90
2017-11-08  113.62
2017-11-09  113.40

[4488 rows x 1 columns]

In [67]:
pdr.DataReader('BOE/XUDLJYD', 'quandl', start_dt, end_dt).sort_index()

             Value
Date
2000-01-04  102.98
2000-01-05  103.87
2000-01-06  105.26
2000-01-07  105.45
2000-01-10  105.37
2000-01-11  105.77
2000-01-12  105.83
2000-01-13  106.21
2000-01-14  106.05
2000-01-17  104.78
2000-01-18  105.50
2000-01-19  105.75
2000-01-20  105.53
2000-01-21  104.86
2000-01-24  105.55
2000-01-25  105.84
2000-01-26  105.89
2000-01-27  105.00
2000-01-28  105.68
2000-01-31  106.98
2000-02-01  107.91
2000-02-02  108.42
2000-02-03  108.19
2000-02-04  107.34
2000-02-07  108.40
2000-02-08  109.51
2000-02-09  109.19
2000-02-10  108.53
2000-02-11  108.92
2000-02-14  108.74
...            ...
2017-10-05  112.64
2017-10-06  112.79
2017-10-09  112.68
2017-10-10  112.02
2017-10-11  112.27
2017-10-12  112.30
2017-10-13  111.93
2017-10-16  111.74
2017-10-17  112.34
2017-10-18  112.97
2017-10-19  112.52
2017-10-20  113.43
2017-10-23  113.69
2017-10-24  113.95
2017-10-25  113.67
2017-10-26  113.95
2017-10-27  113.86
2017-10-30  113.25
2017-10-31  113.63
2017-11-01  114.05
2017-11-02  113.87
2017-11-03  114.26
2017-11-06  114.13
2017-11-07  114.03
2017-11-08  113.64
2017-11-09  113.69
2017-11-10  113.32
2017-11-13  113.51
2017-11-14  113.46
2017-11-15  113.08

[4518 rows x 1 columns]

#### JPY (to EUR)

In [69]:
pdr.DataReader('BOE/XUDLBK63', 'quandl', start_dt, end_dt).sort_index()

             Value
Date
2005-04-01  139.18
2005-04-04  138.94
2005-04-05  139.29
2005-04-06  139.66
2005-04-07  139.92
2005-04-08  139.58
2005-04-11  139.75
2005-04-12  139.49
2005-04-13  138.47
2005-04-14  138.64
2005-04-15  139.05
2005-04-18  139.90
2005-04-19  139.64
2005-04-20  139.71
2005-04-21  140.48
2005-04-22  138.50
2005-04-25  137.10
2005-04-26  137.44
2005-04-27  137.33
2005-04-28  136.93
2005-04-29  135.46
2005-05-03  135.52
2005-05-04  135.13
2005-05-05  135.16
2005-05-06  134.63
2005-05-09  135.48
2005-05-10  135.94
2005-05-11  135.45
2005-05-12  135.60
2005-05-13  135.46
...            ...
2017-10-05  131.96
2017-10-06  132.35
2017-10-09  132.26
2017-10-10  132.39
2017-10-11  132.98
2017-10-12  133.02
2017-10-13  132.48
2017-10-16  131.82
2017-10-17  132.01
2017-10-18  133.04
2017-10-19  133.36
2017-10-20  133.70
2017-10-23  133.53
2017-10-24  134.03
2017-10-25  134.26
2017-10-26  133.36
2017-10-27  131.86
2017-10-30  131.68
2017-10-31  132.37
2017-11-01  132.49
2017-11-02  132.92
2017-11-03  132.74
2017-11-06  132.23
2017-11-07  131.99
2017-11-08  131.66
2017-11-09  132.15
2017-11-10  132.14
2017-11-13  132.41
2017-11-14  133.38
2017-11-15  133.45

[3193 rows x 1 columns]

#### EUR

In [70]:
pdr.DataReader('FRED/DEXUSEU', 'quandl', start_dt, end_dt).sort_index()

             Value
Date
2000-01-03  1.0155
2000-01-04  1.0309
2000-01-05  1.0335
2000-01-06  1.0324
2000-01-07  1.0294
2000-01-10  1.0252
2000-01-11  1.0322
2000-01-12  1.0281
2000-01-13  1.0270
2000-01-14  1.0128
2000-01-18  1.0121
2000-01-19  1.0115
2000-01-20  1.0133
2000-01-21  1.0100
2000-01-24  1.0019
2000-01-25  1.0041
2000-01-26  1.0011
2000-01-27  0.9890
2000-01-28  0.9765
2000-01-31  0.9757
2000-02-01  0.9731
2000-02-02  0.9768
2000-02-03  0.9887
2000-02-04  0.9760
2000-02-07  0.9783
2000-02-08  0.9862
2000-02-09  0.9914
2000-02-10  0.9865
2000-02-11  0.9847
2000-02-14  0.9783
...            ...
2017-09-28  1.1776
2017-09-29  1.1813
2017-10-02  1.1745
2017-10-03  1.1759
2017-10-04  1.1760
2017-10-05  1.1706
2017-10-06  1.1732
2017-10-10  1.1804
2017-10-11  1.1847
2017-10-12  1.1840
2017-10-13  1.1837
2017-10-16  1.1810
2017-10-17  1.1754
2017-10-18  1.1775
2017-10-19  1.1842
2017-10-20  1.1770
2017-10-23  1.1762
2017-10-24  1.1766
2017-10-25  1.1802
2017-10-26  1.1700
2017-10-27  1.1580
2017-10-30  1.1626
2017-10-31  1.1648
2017-11-01  1.1618
2017-11-02  1.1672
2017-11-03  1.1616
2017-11-06  1.1600
2017-11-07  1.1577
2017-11-08  1.1591
2017-11-09  1.1648

[4488 rows x 1 columns]

#### CNY

In [66]:
pdr.DataReader('BOE/XUDLBK73', 'quandl', start_dt, end_dt).sort_index()

             Value
Date
2005-04-01  8.2765
2005-04-04  8.2765
2005-04-05  8.2765
2005-04-06  8.2765
2005-04-07  8.2765
2005-04-08  8.2765
2005-04-11  8.2765
2005-04-12  8.2765
2005-04-13  8.2765
2005-04-14  8.2765
2005-04-15  8.2765
2005-04-18  8.2765
2005-04-19  8.2765
2005-04-20  8.2765
2005-04-21  8.2765
2005-04-22  8.2765
2005-04-25  8.2765
2005-04-26  8.2765
2005-04-27  8.2765
2005-04-28  8.2765
2005-04-29  8.2765
2005-05-03  8.2765
2005-05-04  8.2765
2005-05-05  8.2765
2005-05-06  8.2765
2005-05-09  8.2765
2005-05-10  8.2765
2005-05-11  8.2765
2005-05-12  8.2765
2005-05-13  8.2765
...            ...
2017-10-05  6.6533
2017-10-06  6.6533
2017-10-09  6.6225
2017-10-10  6.5712
2017-10-11  6.5870
2017-10-12  6.5860
2017-10-13  6.5785
2017-10-16  6.5885
2017-10-17  6.6225
2017-10-18  6.6260
2017-10-19  6.6135
2017-10-20  6.6185
2017-10-23  6.6380
2017-10-24  6.6320
2017-10-25  6.6350
2017-10-26  6.6380
2017-10-27  6.6470
2017-10-30  6.6440
2017-10-31  6.6328
2017-11-01  6.6018
2017-11-02  6.6068
2017-11-03  6.6360
2017-11-06  6.6311
2017-11-07  6.6380
2017-11-08  6.6249
2017-11-09  6.6378
2017-11-10  6.6399
2017-11-13  6.6385
2017-11-14  6.6350
2017-11-15  6.6200

[3193 rows x 1 columns]

In [72]:
pdr.DataReader('FRED/DEXCHUS', 'quandl', start_dt, end_dt).sort_index()

             Value
Date
2000-01-03  8.2798
2000-01-04  8.2799
2000-01-05  8.2798
2000-01-06  8.2797
2000-01-07  8.2794
2000-01-10  8.2794
2000-01-11  8.2795
2000-01-12  8.2796
2000-01-13  8.2798
2000-01-14  8.2797
2000-01-18  8.2793
2000-01-19  8.2797
2000-01-20  8.2794
2000-01-21  8.2795
2000-01-24  8.2789
2000-01-25  8.2786
2000-01-26  8.2782
2000-01-27  8.2783
2000-01-28  8.2781
2000-01-31  8.2777
2000-02-01  8.2774
2000-02-02  8.2773
2000-02-03  8.2781
2000-02-04  8.2788
2000-02-07  8.2788
2000-02-08  8.2788
2000-02-09  8.2788
2000-02-10  8.2788
2000-02-11  8.2788
2000-02-14  8.2779
...            ...
2017-09-28  6.6591
2017-09-29  6.6533
2017-10-02  6.6533
2017-10-03  6.6533
2017-10-04  6.6533
2017-10-05  6.6533
2017-10-06  6.6533
2017-10-10  6.5712
2017-10-11  6.5870
2017-10-12  6.5855
2017-10-13  6.5785
2017-10-16  6.5885
2017-10-17  6.6220
2017-10-18  6.6250
2017-10-19  6.6126
2017-10-20  6.6185
2017-10-23  6.6380
2017-10-24  6.6335
2017-10-25  6.6350
2017-10-26  6.6392
2017-10-27  6.6498
2017-10-30  6.6498
2017-10-31  6.6328
2017-11-01  6.6018
2017-11-02  6.6068
2017-11-03  6.6360
2017-11-06  6.6311
2017-11-07  6.6380
2017-11-08  6.6249
2017-11-09  6.6378

[4489 rows x 1 columns]

## INDEX

## Commodities, COMEX

### Gold

#### Gold

In [75]:
pdr.get_data_yahoo('GC=F', start_dt, end_dt).sort_index()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-20,1101.000000,1102.500000,1100.300049,1101.400024,1101.400024,215075.0
2016-01-21,1102.099976,1104.800049,1092.500000,1101.099976,1101.099976,83966173.0
2016-01-22,1099.900024,1103.400024,1094.500000,1098.199951,1098.199951,92069067.0
2016-01-24,1099.900024,1103.400024,1094.500000,1097.800049,1097.800049,92632994.0
2016-01-25,1102.400024,1109.300049,1100.000000,1108.599976,1108.599976,75239857.0
2016-01-26,1112.699951,1123.199951,1109.699951,1119.800049,1119.800049,114057126.0
2016-01-27,1120.199951,1128.000000,1114.900024,1124.400024,1124.400024,84991509.0
2016-01-28,1120.199951,1122.199951,1111.400024,1115.300049,1115.300049,26844641.0
2016-01-29,1115.599976,1118.599976,1111.099976,1118.000000,1118.000000,2240050.0
2016-01-31,1115.599976,1118.599976,1111.099976,1117.300049,1117.300049,2269137.0
2016-02-01,1121.099976,1130.199951,1119.099976,1129.199951,1129.199951,60992964.0
2016-02-02,1125.699951,1131.500000,1122.599976,1128.000000,1128.000000,61042301.0
2016-02-03,1127.099976,1146.199951,1124.800049,1142.300049,1142.300049,89906141.0
2016-02-04,1141.699951,1157.900024,1141.099976,1156.199951,1156.199951,98707153.0
2016-02-05,1156.000000,1175.000000,1145.500000,1174.099976,1174.099976,108515061.0
2016-02-07,1156.000000,1175.000000,1145.500000,1166.800049,1166.800049,109265366.0
2016-02-08,1166.800049,1201.400024,1164.500000,1191.400024,1191.400024,130608270.0
2016-02-09,1193.099976,1199.300049,1185.900024,1188.800049,1188.800049,110164917.0
2016-02-10,1191.699951,1198.900024,1181.800049,1198.500000,1198.500000,92340560.0
2016-02-11,1209.400024,1263.900024,1205.699951,1242.000000,1242.000000,199821943.0
2016-02-12,1233.500000,1246.599976,1233.000000,1238.500000,1238.500000,116767973.0
2016-02-14,1233.500000,1246.599976,1231.000000,1233.500000,1233.500000,117074068.0
2016-02-15,1220.699951,1223.099976,1202.699951,1207.300049,1207.300049,77942720.0
2016-02-16,1194.099976,1217.599976,1193.300049,1203.300049,1203.300049,281414100.0
2016-02-17,1209.099976,1214.400024,1200.800049,1207.099976,1207.099976,96971435.0
2016-02-18,1209.699951,1240.599976,1201.300049,1232.000000,1232.000000,84748252.0
2016-02-19,1228.000000,1235.300049,1220.599976,1226.599976,1226.599976,108787624.0
2016-02-21,1228.000000,1235.300049,1220.599976,1226.199951,1226.199951,109370301.0
2016-02-22,1216.300049,1218.599976,1202.599976,1209.099976,1209.099976,108728757.0
2016-02-23,1220.599976,1233.400024,1215.099976,1231.500000,1231.500000,114957691.0
...,...,...,...,...,...,...
2017-10-13,1298.199951,1306.400024,1292.900024,1306.199951,1306.199951,147248977.0
2017-10-15,NaN,NaN,NaN,NaN,NaN,NaN
2017-10-16,1304.800049,1308.400024,1292.500000,1297.099976,1297.099976,118437030.0
2017-10-17,1295.199951,1295.199951,1283.199951,1287.500000,1287.500000,175529007.0
2017-10-18,1288.800049,1288.800049,1278.599976,1282.000000,1282.000000,142138759.0
2017-10-19,1280.300049,1292.900024,1278.400024,1292.099976,1292.099976,189347605.0
2017-10-20,1285.900024,1286.699951,1279.300049,1281.500000,1281.500000,173584945.0
2017-10-22,1281.500000,1281.500000,1275.400024,1276.500000,1276.500000,357157.0
2017-10-23,1277.800049,1284.699951,1273.599976,1283.500000,1283.500000,147093427.0
2017-10-24,1283.900024,1284.599976,1274.800049,1277.000000,1277.000000,136122126.0
2017-10-25,1274.000000,1281.300049,1272.000000,1280.400024,1280.400024,190890441.0
2017-10-26,1281.000000,1283.800049,1266.400024,1267.099976,1267.099976,187691657.0
2017-10-27,1268.699951,1275.000000,1263.800049,1274.900024,1274.900024,183118449.0
2017-10-29,1274.300049,1274.900024,1273.000000,1273.800049,1273.800049,252016.0
2017-10-30,1272.400024,1279.900024,1269.800049,1277.300049,1277.300049,124078713.0
2017-10-31,1276.599976,1279.099976,1268.300049,1270.500000,1270.500000,131378808.0
2017-11-01,1270.800049,1281.900024,1270.099976,1276.099976,1276.099976,192304951.0
2017-11-02,1281.000000,1285.099976,1274.000000,1278.099976,1278.099976,191845180.0
2017-11-03,1277.500000,1281.199951,1265.900024,1270.199951,1270.199951,162594908.0
2017-11-05,1270.699951,1271.400024,1269.300049,1270.400024,1270.400024,84723.0
2017-11-06,1270.099976,1283.900024,1268.000000,1281.199951,1281.199951,171048041.0
2017-11-07,1279.400024,1280.699951,1272.300049,1278.699951,1278.699951,169175121.0
2017-11-08,1279.300049,1288.099976,1276.500000,1282.800049,1282.800049,177938463.0
2017-11-09,1283.699951,1289.500000,1282.599976,1286.800049,1286.800049,199338289.0
2017-11-10,1285.199951,1286.500000,1273.599976,1275.900024,1275.900024,168884056.0
2017-11-12,1275.300049,1275.900024,1274.400024,1275.400024,1275.400024,69032.0
2017-11-13,1275.800049,1279.900024,1275.800049,1278.099976,1278.099976,119500316.0
2017-11-14,1276.500000,1283.800049,1269.699951,1280.699951,1280.699951,179515145.0
2017-11-15,1281.300049,1290.000000,1276.500000,1279.099976,1279.099976,221523753.0
2017-11-16,1276.300049,1281.800049,1274.900024,1278.300049,1278.300049,154524005.0

#### LBMA

In [74]:
pdr.DataReader('LBMA/GOLD', 'quandl', start_dt, end_dt).sort_index()

              USDAM    USDPM    GBPAM    GBPPM    EUROAM    EUROPM
Date
2000-01-04   282.05   281.50  172.166  171.929   275.305   272.402
2000-01-05   282.10   280.45  171.729  170.808   272.035   270.470
2000-01-06   280.35   279.40  170.446  169.518   270.974   269.152
2000-01-07   282.00   282.10  171.324  172.065   273.840   274.017
2000-01-10   281.70   281.60  172.230  171.959   275.205   274.812
2000-01-11   281.70   282.25  171.590  171.424   273.469   274.322
2000-01-12   282.25   282.25  171.445  171.372   273.313   274.269
2000-01-13   282.20   282.10  171.467  171.594   273.874   274.898
2000-01-14   284.15   283.30  172.683  172.439   277.274   277.881
2000-01-17   284.90   285.35  174.112  174.890   281.577   282.777
2000-01-18   286.85   285.80  175.572  174.588   284.432   283.082
2000-01-19   288.75   287.65  176.314  175.247   285.524   284.605
2000-01-20   288.35   288.10  175.097  175.094   285.523   285.445
2000-01-21   287.70   287.75  173.774  174.341   283.644   285.693
2000-01-24   287.45   287.20  173.749  173.797   285.594   286.827
2000-01-25   288.70   288.00  174.980  174.810   287.435   286.881
2000-01-26   284.90   285.90  173.244  174.000   284.161   285.443
2000-01-27   286.50   285.55  175.144  174.403   286.300   287.969
2000-01-28   286.15   286.75  176.038  176.527   290.685   291.235
2000-01-31   283.05   283.30  174.475  175.017   288.620   289.288
2000-02-01   283.65   283.00  175.962  175.341   292.664   290.376
2000-02-02   283.10   285.60  175.708  178.044   291.465   294.009
2000-02-03   285.25   285.05  178.003  178.603   293.105   290.986
2000-02-04   287.50   293.65  181.068  184.767   290.727   299.551
2000-02-07   316.60   312.70  198.185  196.630   322.732   319.636
2000-02-08   303.15   296.25  189.079  184.178   307.392   300.609
2000-02-09   306.00   308.60  189.921  191.427   309.341   310.995
2000-02-10   311.25   309.00  193.119  192.009   314.521   312.911
2000-02-11   316.50   311.50  197.615  194.907   321.483   316.984
2000-02-14   308.75   308.35  194.097  193.468   312.121   313.587
...             ...      ...      ...      ...       ...       ...
2017-10-06  1268.20  1261.80  970.430  967.930  1083.930  1078.590
2017-10-09  1282.15  1278.75  976.230  972.230  1092.010  1090.010
2017-10-10  1289.60  1291.40  977.770  978.880  1094.610  1094.070
2017-10-11  1290.20  1289.25  978.620  976.350  1091.900  1087.610
2017-10-12  1294.45  1290.25  977.960  981.750  1092.260  1090.520
2017-10-13  1293.90  1299.60  972.880  975.740  1093.730  1095.430
2017-10-16  1305.15  1303.30  981.080  981.250  1107.030  1104.160
2017-10-17  1289.70  1284.75  973.470  975.380  1097.020  1094.480
2017-10-18  1280.65  1280.20  972.530  973.080  1090.470  1088.550
2017-10-19  1283.40  1286.40  975.640  975.350  1087.420  1085.980
2017-10-20  1280.25  1281.20  974.270  973.200  1084.760  1086.970
2017-10-23  1275.25  1274.90  967.790  966.370  1085.620  1085.070
2017-10-24  1278.30  1276.45  970.360  970.480  1087.320  1085.620
2017-10-25  1273.00  1275.00  964.810  963.260  1081.670  1081.200
2017-10-26  1278.00  1273.75  968.340  965.760  1082.340  1086.890
2017-10-27  1267.80  1266.45  968.350  968.070  1090.180  1093.580
2017-10-30  1272.75  1272.00  966.910  965.320  1093.800  1095.190
2017-10-31  1274.40  1270.15  964.210  959.090  1095.600  1091.690
2017-11-01  1279.25  1277.05  961.480  962.000  1099.520  1097.620
2017-11-02  1276.40  1279.20  965.090  976.030  1095.920  1096.790
2017-11-03  1275.30  1267.20  976.240  970.170  1094.590  1091.820
2017-11-06  1271.60  1270.90  969.720  969.820  1095.610  1097.040
2017-11-07  1276.35  1275.60  970.920  972.010  1103.280  1101.860
2017-11-08  1282.25  1284.00  976.820  980.850  1105.430  1107.190
2017-11-09  1284.00  1284.80  980.980  980.300  1106.290  1104.670
2017-11-10  1284.45  1284.30  976.440  971.960  1102.190  1100.770
2017-11-13  1278.40  1277.95  977.590  976.350  1097.890  1095.710
2017-11-14  1273.70  1274.60  972.470  972.520  1086.590  1084.560
2017-11-15  1285.70  1282.20  976.620  974.220  1086.290  1084.740
2017-11-16  1277.70  1280.00  969.010  969.470  1085.530  1086.590

[4519 rows x 6 columns]

#### Gold, COMEX

In [38]:
pdr.DataReader('CHRIS/CME_GC1', 'quandl', start_dt, end_dt).sort_index()

,Open,High,Low,Last,Change,Settle,Volume,PreviousDayOpenInterest
Date,,,,,,,,
2000-01-04,283.0,284.1,280.0,283.7,NaN,283.7,30697.0,67965.0
2000-01-05,282.8,283.0,281.0,282.1,NaN,282.1,21621.0,67505.0
2000-01-06,281.4,282.8,280.2,282.4,NaN,282.4,25448.0,68731.0
2000-01-07,284.1,284.5,282.0,282.9,NaN,282.9,19055.0,66778.0
2000-01-10,282.8,283.9,282.4,282.7,NaN,282.7,11266.0,64731.0
2000-01-11,282.2,285.3,281.9,284.4,NaN,284.4,30603.0,64629.0
2000-01-12,283.0,284.1,282.5,283.7,NaN,283.7,13500.0,66815.0
2000-01-13,283.1,285.9,283.0,285.1,NaN,285.1,17841.0,63824.0
2000-01-14,285.3,285.3,284.0,284.9,NaN,284.9,12171.0,55526.0
2000-01-18,287.8,289.8,285.9,289.6,NaN,289.6,32339.0,53023.0
2000-01-19,289.5,290.7,287.5,290.3,NaN,290.3,28615.0,50387.0
2000-01-20,289.2,290.1,288.7,289.3,NaN,289.3,24097.0,46206.0
2000-01-21,288.0,290.3,287.4,289.7,NaN,289.7,20707.0,45162.0
2000-01-24,287.7,288.3,286.9,288.1,NaN,288.1,25726.0,37716.0
2000-01-25,290.5,291.0,286.6,286.6,NaN,286.6,32140.0,33544.0
2000-01-26,285.9,287.5,285.3,286.5,NaN,286.5,36122.0,19963.0
2000-01-27,287.0,287.3,285.6,287.1,NaN,287.1,19633.0,12731.0
2000-01-28,286.7,287.8,280.5,283.0,NaN,283.0,14493.0,7036.0
2000-01-31,284.0,284.5,282.6,283.2,NaN,283.2,2445.0,2590.0
2000-02-01,283.8,283.8,282.2,282.5,NaN,282.5,502.0,1403.0
2000-02-02,283.5,286.7,283.5,284.9,NaN,284.9,227.0,1429.0
2000-02-03,285.9,288.5,284.9,287.2,NaN,287.2,177.0,708.0
2000-02-04,289.3,315.0,288.9,310.4,NaN,310.4,298.0,794.0
2000-02-07,319.0,322.0,301.9,301.9,NaN,301.9,355.0,597.0
2000-02-08,300.0,300.5,295.9,299.2,NaN,299.2,85.0,567.0
2000-02-09,306.0,311.0,306.0,306.1,NaN,306.1,29.0,501.0
2000-02-10,311.0,316.2,311.0,316.2,NaN,316.2,627.0,480.0
2000-02-11,314.0,314.0,309.0,311.1,NaN,311.1,33.0,135.0
2000-02-14,310.0,310.0,307.0,308.5,NaN,308.5,22.0,88.0
2000-02-15,307.5,307.5,301.5,301.7,NaN,301.7,89.0,95.0
...,...,...,...,...,...,...,...,...
2017-10-05,1277.8,1277.8,1267.6,1268.3,3.8,1269.9,36.0,434.0
2017-10-06,1267.6,1272.0,1260.5,1271.8,1.7,1271.6,46.0,238.0
2017-10-09,1280.6,1284.0,1279.0,1283.7,10.2,1281.8,19.0,220.0
2017-10-10,1282.6,1293.0,1281.7,1288.0,8.8,1290.6,18.0,223.0
2017-10-11,1287.3,1292.0,1284.9,1292.0,4.8,1285.8,21.0,220.0
2017-10-12,1291.5,1294.5,1289.3,1293.5,7.5,1293.3,14.0,220.0
2017-10-13,1293.3,1301.7,1291.7,1301.7,8.2,1301.5,74.0,220.0
2017-10-16,1302.0,1303.8,1291.9,1291.9,1.6,1299.9,173.0,256.0
2017-10-17,1295.1,1295.1,1282.8,1284.0,16.9,1283.0,571.0,318.0
2017-10-18,NaN,NaN,1278.9,1279.2,3.1,1279.9,163.0,502.0
2017-10-19,1286.4,1286.8,1285.1,1286.8,7.0,1286.9,134.0,474.0
2017-10-20,1279.6,1279.9,1277.8,1277.8,9.5,1277.4,304.0,542.0
2017-10-23,1274.7,1280.8,1271.5,1279.6,0.3,1277.7,115.0,686.0
2017-10-24,1275.5,1276.3,1273.7,1276.3,2.7,1275.0,111.0,752.0
2017-10-25,1269.9,1275.2,1269.9,1275.2,0.4,1275.4,105.0,234.0
2017-10-26,1273.5,1274.7,1264.7,1265.9,9.1,1266.3,39.0,170.0
2017-10-27,1268.4,1268.4,1263.9,1267.7,2.2,1268.5,151.0,86.0
2017-10-30,1274.3,1279.9,1269.8,1277.3,5.9,1277.7,254676.0,378303.0
2017-10-31,1277.6,1279.1,1268.3,1271.8,7.2,1270.5,265493.0,382729.0
2017-11-01,1271.8,1281.9,1268.5,1275.5,6.8,1277.3,377340.0,376939.0
2017-11-02,1275.2,1285.1,1274.0,1276.8,0.8,1278.1,374302.0,372240.0
2017-11-03,1277.5,1281.2,1265.9,1270.2,8.9,1269.2,362132.0,369077.0
2017-11-06,1270.7,1283.9,1266.4,1282.8,12.4,1281.6,341595.0,358880.0
2017-11-07,1282.6,1282.8,1272.3,1275.7,5.8,1275.8,328245.0,358661.0
2017-11-08,1276.4,1288.1,1276.1,1282.0,7.9,1283.7,347160.0,345546.0
2017-11-09,1282.1,1289.5,1280.5,1285.6,3.8,1287.5,386483.0,336947.0
2017-11-10,1286.0,1287.7,1273.6,1275.6,13.3,1274.2,343204.0,321936.0
2017-11-13,1275.3,1279.9,1274.4,1278.5,4.7,1278.9,213729.0,300989.0
2017-11-14,1278.9,1283.8,1269.7,1280.4,4.0,1282.9,342768.0,291870.0
2017-11-15,1280.7,1290.0,1276.5,1277.8,5.2,1277.7,417787.0,279265.0

### Silver

#### Silver, COMEX

In [39]:
pdr.DataReader('CHRIS/CME_SI1', 'quandl', start_dt, end_dt).sort_index()

,Open,High,Low,Last,Change,Settle,Volume,PreviousDayOpenInterest
Date,,,,,,,,
2000-01-04,5.290,5.335,5.290,5.335,NaN,5.335,3.0,3.0
2000-01-05,5.170,5.170,5.170,5.170,NaN,5.170,0.0,2.0
2000-01-06,5.127,5.127,5.127,5.127,NaN,5.127,0.0,2.0
2000-01-07,5.150,5.150,5.150,5.150,NaN,5.150,50.0,52.0
2000-01-10,5.145,5.145,5.145,5.145,NaN,5.145,62.0,102.0
2000-01-11,5.150,5.150,5.150,5.150,NaN,5.150,1.0,102.0
2000-01-12,5.100,5.100,5.100,5.100,NaN,5.100,100.0,202.0
2000-01-13,5.110,5.115,5.110,5.115,NaN,5.115,30.0,123.0
2000-01-14,5.112,5.112,5.112,5.112,NaN,5.112,0.0,114.0
2000-01-18,5.127,5.127,5.127,5.127,NaN,5.127,1.0,3.0
2000-01-19,5.135,5.135,5.135,5.135,NaN,5.135,16.0,17.0
2000-01-20,5.200,5.219,5.200,5.219,NaN,5.219,18.0,26.0
2000-01-21,5.222,5.222,5.222,5.222,NaN,5.222,1.0,3.0
2000-01-24,5.255,5.255,5.255,5.255,NaN,5.255,0.0,2.0
2000-01-25,5.277,5.277,5.277,5.277,NaN,5.277,0.0,0.0
2000-01-26,5.255,5.255,5.255,5.255,NaN,5.255,0.0,0.0
2000-01-27,5.382,5.382,5.382,5.382,NaN,5.382,0.0,0.0
2000-01-28,5.307,5.307,5.307,5.307,NaN,5.307,0.0,9.0
2000-01-31,5.287,5.287,5.287,5.287,NaN,5.287,200.0,200.0
2000-02-01,5.260,5.260,5.223,5.223,NaN,5.223,13.0,113.0
2000-02-02,5.210,5.212,5.210,5.212,NaN,5.212,28.0,128.0
2000-02-03,5.230,5.260,5.230,5.260,NaN,5.260,7.0,5.0
2000-02-04,5.300,5.547,5.300,5.547,NaN,5.547,104.0,104.0
2000-02-07,5.260,5.260,5.260,5.260,NaN,5.260,101.0,190.0
2000-02-08,5.318,5.318,5.318,5.318,NaN,5.318,0.0,190.0
2000-02-09,5.408,5.408,5.408,5.408,NaN,5.408,0.0,80.0
2000-02-10,5.405,5.405,5.405,5.405,NaN,5.405,27.0,106.0
2000-02-11,5.340,5.340,5.332,5.332,NaN,5.332,0.0,0.0
2000-02-14,5.255,5.255,5.255,5.255,NaN,5.255,0.0,0.0
2000-02-15,5.245,5.245,5.245,5.245,NaN,5.245,100.0,100.0
...,...,...,...,...,...,...,...,...
2017-10-05,16.620,16.770,16.590,16.615,0.014,16.638,53071.0,144695.0
2017-10-06,16.610,16.890,16.345,16.850,0.152,16.790,102677.0,143661.0
2017-10-09,16.850,17.030,16.765,16.990,0.181,16.971,55255.0,143454.0
2017-10-10,16.990,17.280,16.960,17.140,0.236,17.207,86777.0,143522.0
2017-10-11,17.150,17.265,17.085,17.190,0.074,17.133,65333.0,142641.0
2017-10-12,17.190,17.290,17.135,17.270,0.133,17.266,59388.0,141644.0
2017-10-13,17.275,17.450,17.200,17.445,0.145,17.411,76452.0,142081.0
2017-10-16,17.425,17.495,17.135,17.255,0.042,17.369,76727.0,144173.0
2017-10-17,17.260,17.280,16.985,17.045,0.328,17.041,87768.0,145057.0
2017-10-18,17.045,17.120,16.920,17.015,0.044,16.997,68113.0,144743.0
2017-10-19,17.015,17.315,16.930,17.275,0.258,17.255,104246.0,144079.0
2017-10-20,17.275,17.315,16.945,17.045,0.177,17.078,97089.0,144857.0
2017-10-23,17.035,17.130,16.870,17.100,0.003,17.075,89424.0,143585.0
2017-10-24,17.100,17.170,16.890,16.955,0.109,16.966,85814.0,142467.0
2017-10-25,16.960,17.050,16.810,16.955,0.041,16.925,90491.0,142668.0
2017-10-26,16.960,17.045,16.755,16.795,0.114,16.811,89438.0,141731.0
2017-10-27,16.800,16.870,16.600,16.870,0.059,16.752,102922.0,140716.0
2017-10-30,16.850,16.900,16.690,16.855,0.095,16.847,61628.0,141273.0
2017-10-31,16.865,16.910,16.645,16.715,0.154,16.693,69353.0,140830.0
2017-11-01,16.710,17.210,16.670,17.140,0.483,17.176,119601.0,141798.0
2017-11-02,17.150,17.255,17.050,17.120,0.039,17.137,100885.0,143592.0
2017-11-03,17.125,17.195,16.770,16.830,0.303,16.834,104177.0,142429.0
2017-11-06,16.835,17.270,16.795,17.230,0.401,17.235,98606.0,137547.0
2017-11-07,17.230,17.240,16.920,16.940,0.295,16.940,92962.0,138297.0
2017-11-08,16.950,17.265,16.950,17.030,0.198,17.138,90321.0,131204.0
2017-11-09,17.060,17.145,16.910,16.985,0.163,16.975,97940.0,128489.0
2017-11-10,16.995,17.095,16.785,16.875,0.104,16.871,91392.0,121142.0
2017-11-13,16.860,17.070,16.820,17.055,0.176,17.047,70792.0,114696.0
2017-11-14,17.060,17.095,16.860,17.020,0.026,17.073,74012.0,110412.0
2017-11-15,17.025,17.205,16.940,16.980,0.102,16.971,102457.0,107243.0

### Steel

#### Steel, LME

In [44]:
pdr.DataReader('LME/PR_FM', 'quandl', start_dt, end_dt).sort_index()

,CashBuyer,CashSeller&Settlement,3monthsBuyer,3monthsSeller,15monthsBuyer,15monthsSeller
Date,,,,,,
2012-01-03,544.0,545.0,535.0,545.0,575.0,585.0
2012-01-04,534.5,535.5,535.0,540.0,570.0,580.0
2012-01-05,524.5,525.5,515.0,525.0,555.0,565.0
2012-01-06,519.0,521.0,515.0,525.0,555.0,565.0
2012-01-09,528.0,532.0,540.0,545.0,575.0,585.0
2012-01-10,524.0,526.0,535.0,540.0,570.0,580.0
2012-01-11,534.5,535.0,535.0,540.0,570.0,580.0
2012-01-12,529.0,531.0,535.0,540.0,570.0,580.0
2012-01-13,520.0,525.0,535.0,540.0,570.0,580.0
2012-01-16,520.0,520.5,539.0,540.0,570.0,580.0
2012-01-17,525.0,530.0,520.0,540.0,560.0,570.0
2012-01-18,525.0,530.0,530.0,540.0,565.0,575.0
2012-01-19,509.0,511.0,530.0,540.0,565.0,575.0
2012-01-20,514.0,516.0,515.0,530.0,555.0,565.0
2012-01-23,509.0,511.0,515.0,522.0,565.0,575.0
2012-01-24,505.0,515.0,515.0,525.0,565.0,575.0
2012-01-25,519.0,520.0,515.0,525.0,565.0,575.0
2012-01-26,517.0,519.0,515.0,525.0,565.0,575.0
2012-01-27,505.0,506.0,515.0,525.0,565.0,575.0
2012-01-30,509.0,511.0,515.0,520.0,560.0,570.0
2012-01-31,505.0,506.0,509.0,519.0,560.0,570.0
2012-02-01,480.0,482.0,505.0,515.0,560.0,570.0
2012-02-02,485.0,486.0,510.0,515.0,560.0,570.0
2012-02-03,493.0,495.0,510.0,520.0,565.0,575.0
2012-02-06,493.0,494.0,495.0,505.0,550.0,560.0
2012-02-07,482.0,483.0,510.0,510.5,560.0,570.0
2012-02-08,477.0,478.0,515.0,517.0,565.0,575.0
2012-02-09,476.0,476.5,506.0,516.0,560.0,570.0
2012-02-10,474.5,475.5,500.0,510.0,555.0,565.0
2012-02-13,474.5,475.5,495.0,505.0,550.0,560.0
...,...,...,...,...,...,...
2017-02-21,300.0,325.0,300.0,325.0,310.0,320.0
2017-02-22,300.0,325.0,300.0,325.0,310.0,320.0
2017-02-23,300.0,325.0,300.0,325.0,310.0,320.0
2017-02-24,300.0,325.0,300.0,325.0,310.0,320.0
2017-02-27,300.0,325.0,300.0,325.0,310.0,320.0
2017-02-28,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-01,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-02,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-03,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-06,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-07,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-08,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-09,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-10,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-13,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-14,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-15,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-16,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-17,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-20,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-21,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-22,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-23,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-24,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-27,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-28,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-29,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-30,300.0,325.0,300.0,325.0,310.0,320.0
2017-03-31,300.0,325.0,300.0,325.0,310.0,320.0
2017-04-03,300.0,325.0,300.0,325.0,310.0,320.0

#### Steel Rebar, Shanghai

In [45]:
pdr.DataReader('SHFE/RBV2013', 'quandl', start_dt, end_dt).sort_index()

,PreSettle,Open,High,Low,Close,Settle,CH1,CH2,Volume,PrevDayOpenInterest,Change
Date,,,,,,,,,,,
2012-10-16,NaN,3645.0,3645.0,3601.0,3637.0,3625.0,0.0,0.0,528.0,456.0,456.0
2012-10-17,3625.0,3638.0,3708.0,3625.0,3700.0,3660.0,75.0,35.0,194.0,542.0,86.0
2012-10-18,3660.0,3717.0,3731.0,3713.0,3725.0,3723.0,65.0,63.0,194.0,638.0,96.0
2012-10-19,3723.0,3723.0,3726.0,3690.0,3706.0,3704.0,-17.0,-19.0,502.0,918.0,280.0
2012-10-22,3704.0,3691.0,3762.0,3690.0,3762.0,3727.0,58.0,23.0,242.0,962.0,44.0
2012-10-23,3727.0,3790.0,3790.0,3717.0,3730.0,3747.0,3.0,20.0,466.0,1066.0,104.0
2012-10-24,3747.0,3710.0,3750.0,3710.0,3748.0,3732.0,1.0,-15.0,246.0,1120.0,54.0
2012-10-25,3732.0,3741.0,3741.0,3716.0,3727.0,3730.0,-5.0,-2.0,324.0,1318.0,198.0
2012-10-26,3730.0,3735.0,3749.0,3721.0,3748.0,3732.0,18.0,2.0,200.0,1382.0,64.0
2012-10-29,3732.0,3731.0,3735.0,3680.0,3680.0,3697.0,-52.0,-35.0,770.0,1706.0,324.0
2012-10-30,3697.0,3680.0,3687.0,3672.0,3680.0,3677.0,-17.0,-20.0,386.0,1744.0,38.0
2012-10-31,3677.0,3680.0,3684.0,3651.0,3683.0,3670.0,6.0,-7.0,282.0,1774.0,30.0
2012-11-01,3670.0,3682.0,3740.0,3670.0,3730.0,3715.0,60.0,45.0,290.0,1804.0,30.0
2012-11-02,3715.0,3748.0,3748.0,3710.0,3724.0,3723.0,9.0,8.0,234.0,1814.0,10.0
2012-11-05,3723.0,3703.0,3729.0,3674.0,3694.0,3702.0,-29.0,-21.0,532.0,1836.0,22.0
2012-11-06,3702.0,3701.0,3713.0,3686.0,3701.0,3699.0,-1.0,-3.0,254.0,1836.0,0.0
2012-11-07,3699.0,3708.0,3722.0,3681.0,3699.0,3703.0,0.0,4.0,896.0,1910.0,74.0
2012-11-08,3703.0,3662.0,3699.0,3662.0,3691.0,3687.0,-12.0,-16.0,358.0,1964.0,54.0
2012-11-09,3687.0,3695.0,3732.0,3695.0,3707.0,3715.0,20.0,28.0,602.0,1954.0,-10.0
2012-11-12,3715.0,3714.0,3739.0,3692.0,3733.0,3717.0,18.0,2.0,466.0,1892.0,-62.0
2012-11-13,3717.0,3729.0,3734.0,3712.0,3718.0,3720.0,1.0,3.0,422.0,1950.0,58.0
2012-11-14,3720.0,3716.0,3716.0,3700.0,3709.0,3703.0,-11.0,-17.0,644.0,2140.0,190.0
2012-11-15,3703.0,3701.0,3721.0,3700.0,3705.0,3709.0,2.0,6.0,172.0,2206.0,66.0
2012-11-16,3709.0,3700.0,3717.0,3700.0,3702.0,3706.0,-7.0,-3.0,158.0,2254.0,48.0
2012-11-19,3706.0,3690.0,3690.0,3611.0,3612.0,3632.0,-94.0,-74.0,2094.0,2706.0,452.0
2012-11-20,3632.0,3616.0,3628.0,3610.0,3616.0,3619.0,-16.0,-13.0,466.0,2720.0,14.0
2012-11-21,3619.0,3610.0,3644.0,3610.0,3636.0,3632.0,17.0,13.0,674.0,2768.0,48.0
2012-11-22,3632.0,3636.0,3636.0,3605.0,3628.0,3621.0,-4.0,-11.0,996.0,3104.0,336.0
2012-11-23,3621.0,3623.0,3635.0,3620.0,3630.0,3628.0,9.0,7.0,390.0,3124.0,20.0
2012-11-26,3628.0,3623.0,3623.0,3610.0,3616.0,3618.0,-12.0,-10.0,1010.0,3702.0,578.0
...,...,...,...,...,...,...,...,...,...,...,...
2013-08-26,3619.0,3635.0,3647.0,3613.0,3621.0,3627.0,2.0,8.0,23146.0,128486.0,-726.0
2013-08-27,3627.0,3618.0,3635.0,3600.0,3622.0,3619.0,-5.0,-8.0,18628.0,122878.0,-5608.0
2013-08-28,3619.0,3615.0,3627.0,3583.0,3585.0,3602.0,-34.0,-17.0,26216.0,117464.0,-5414.0
2013-08-29,3602.0,3593.0,3593.0,3563.0,3569.0,3574.0,-33.0,-28.0,23254.0,110582.0,-6882.0
2013-08-30,3574.0,3569.0,3570.0,3548.0,3560.0,3557.0,-14.0,-17.0,16514.0,107046.0,-3536.0
2013-09-02,3557.0,3566.0,3582.0,3558.0,3562.0,3566.0,5.0,9.0,14392.0,107614.0,568.0
2013-09-03,3566.0,3568.0,3574.0,3544.0,3552.0,3554.0,-14.0,-12.0,19114.0,102426.0,-5188.0
2013-09-04,3554.0,3548.0,3556.0,3541.0,3549.0,3547.0,-5.0,-7.0,10756.0,98652.0,-3774.0
2013-09-05,3547.0,3540.0,3554.0,3540.0,3551.0,3548.0,4.0,1.0,11638.0,91294.0,-7358.0
2013-09-06,3548.0,3547.0,3551.0,3535.0,3540.0,3540.0,-8.0,-8.0,7938.0,86632.0,-4662.0
2013-09-09,3540.0,3546.0,3560.0,3539.0,3551.0,3552.0,11.0,12.0,7130.0,83570.0,-3062.0
2013-09-10,3552.0,3544.0,3553.0,3539.0,3543.0,3543.0,-9.0,-9.0,6274.0,81772.0,-1798.0
2013-09-11,3543.0,3542.0,3551.0,3538.0,3541.0,3542.0,-2.0,-1.0,2946.0,80788.0,-984.0
2013-09-12,3542.0,3535.0,3548.0,3535.0,3541.0,3541.0,-1.0,-1.0,7792.0,79270.0,-1518.0
2013-09-13,3541.0,3537.0,3540.0,3519.0,3522.0,3524.0,-19.0,-17.0,12942.0,73918.0,-5352.0
2013-09-16,3524.0,3520.0,3532.0,3503.0,3515.0,3512.0,-9.0,-12.0,9346.0,67738.0,-6180.0
2013-09-17,3512.0,3517.0,3525.0,3504.0,3507.0,3508.0,-5.0,-4.0,5254.0,64032.0,-3706.0
2013-09-18,3508.0,3502.0,3514.0,3501.0,3510.0,3506.0,2.0,-2.0,8880.0,58528.0,-5504.0
2013-09-23,3506.0,3510.0,3517.0,3500.0,3511.0,3510.0,5.0,4.0,8996.0,52280.0,-6248.0
2013-09-24,3510.0,3511.0,3514.0,3501.0,3503.0,3505.0,-7.0,-5.0,5824.0,47762.0,-4518.0
2013-09-25,3505.0,3505.0,3505.0,3491.0,3494.0,3498.0,-11.0,-7.0,10210.0,39762.0,-8000.0
2013-09-26,3498.0,3490.0,3497.0,3479.0,3479.0,3486.0,-19.0,-12.0,16472.0,31136.0,-8626.0
2013-09-27,3486.0,3480.0,3480.0,3450.0,3451.0,3461.0,-35.0,-25.0,10836.0,23582.0,-7554.0
2013-09-30,3461.0,3492.0,3492.0,3437.0,3442.0,3450.0,-19.0,-11.0,9336.0,16664.0,-6918.0
2013-10-08,3450.0,3442.0,3442.0,3396.0,3411.0,3419.0,-39.0,-31.0,3344.0,13500.0,-3164.0
2013-10-09,3419.0,3401.0,3410.0,3388.0,3390.0,3395.0,-29.0,-24.0,4200.0,9960.0,-3540.0
2013-10-10,3395.0,3390.0,3390.0,3376.0,3376.0,3385.0,-19.0,-10.0,1620.0,8340.0,-1620.0
2013-10-11,3385.0,3382.0,3415.0,3382.0,3395.0,3396.0,10.0,11.0,840.0,7620.0,-720.0
2013-10-14,3396.0,3400.0,3400.0,3371.0,3371.0,3386.0,-25.0,-10.0,600.0,7080.0,-540.0
2013-10-15,3386.0,3366.0,3375.0,3365.0,3375.0,3371.0,-11.0,-15.0,360.0,6840.0,-240.0

### Copper

#### Copper, COMEX

In [40]:
pdr.DataReader('CHRIS/CME_HG1', 'quandl', start_dt, end_dt).sort_index()

,Open,High,Low,Last,Change,Settle,Volume,PreviousDayOpenInterest
Date,,,,,,,,
2000-01-04,0.8445,0.8460,0.8360,NaN,NaN,0.8380,407.0,2472.0
2000-01-05,0.8350,0.8475,0.8315,NaN,NaN,0.8475,254.0,2322.0
2000-01-06,0.8400,0.8450,0.8400,NaN,NaN,0.8450,480.0,2268.0
2000-01-07,0.8430,0.8500,0.8430,NaN,NaN,0.8455,223.0,2138.0
2000-01-10,0.8435,0.8435,0.8385,NaN,NaN,0.8395,240.0,2043.0
2000-01-11,0.8390,0.8410,0.8380,NaN,NaN,0.8380,216.0,1542.0
2000-01-12,0.8460,0.8590,0.8460,NaN,NaN,0.8590,269.0,1388.0
2000-01-13,0.8570,0.8570,0.8490,NaN,NaN,0.8490,355.0,1374.0
2000-01-14,0.8510,0.8555,0.8510,NaN,NaN,0.8545,192.0,1073.0
2000-01-18,0.8490,0.8610,0.8460,NaN,NaN,0.8600,300.0,919.0
2000-01-19,0.8640,0.8750,0.8640,NaN,NaN,0.8750,218.0,774.0
2000-01-20,0.8725,0.8730,0.8635,NaN,NaN,0.8660,307.0,621.0
2000-01-21,0.8670,0.8670,0.8640,NaN,NaN,0.8665,222.0,474.0
2000-01-24,0.8580,0.8580,0.8500,NaN,NaN,0.8500,256.0,422.0
2000-01-25,0.8520,0.8810,0.8360,NaN,NaN,0.8370,191.0,314.0
2000-01-26,0.8395,0.8410,0.8300,NaN,NaN,0.8365,244.0,314.0
2000-01-27,0.8325,0.8375,0.8280,NaN,NaN,0.8375,326.0,237.0
2000-01-28,0.8400,0.8465,0.8300,NaN,NaN,0.8300,866.0,2765.0
2000-01-31,0.8280,0.8440,0.8280,NaN,NaN,0.8440,619.0,1756.0
2000-02-01,0.8445,0.8445,0.8315,NaN,NaN,0.8370,310.0,1548.0
2000-02-02,0.8200,0.8200,0.8180,NaN,NaN,0.8180,223.0,1431.0
2000-02-03,0.8215,0.8220,0.8130,NaN,NaN,0.8215,244.0,1186.0
2000-02-04,0.8165,0.8245,0.8165,NaN,NaN,0.8235,0.0,0.0
2000-02-07,0.8230,0.8240,0.8230,NaN,NaN,0.8240,218.0,998.0
2000-02-08,0.8150,0.8175,0.8150,NaN,NaN,0.8175,214.0,938.0
2000-02-09,0.8195,0.8195,0.8195,NaN,NaN,0.8195,148.0,558.0
2000-02-10,0.8325,0.8470,0.8320,NaN,NaN,0.8460,274.0,450.0
2000-02-11,0.8470,0.8470,0.8430,NaN,NaN,0.8430,120.0,278.0
2000-02-14,0.8400,0.8425,0.8400,NaN,NaN,0.8425,127.0,253.0
2000-02-15,0.8425,0.8425,0.8225,NaN,NaN,0.8235,113.0,223.0
...,...,...,...,...,...,...,...,...
2017-10-05,2.9505,3.0295,2.9505,3.0270,0.0870,3.0315,291.0,1880.0
2017-10-06,3.0240,3.0240,3.0080,3.0090,0.0170,3.0145,176.0,1914.0
2017-10-09,3.0100,3.0160,3.0100,3.0140,0.0025,3.0170,213.0,1820.0
2017-10-10,3.0255,3.0520,3.0215,3.0465,0.0285,3.0455,525.0,1690.0
2017-10-11,3.0425,3.0830,3.0415,3.0830,0.0345,3.0800,296.0,1740.0
2017-10-12,3.0800,3.1155,3.0800,3.1040,0.0240,3.1040,299.0,1464.0
2017-10-13,3.1040,3.1160,3.1040,3.1160,0.0145,3.1185,95.0,1367.0
2017-10-16,3.1380,3.2315,3.1380,3.2235,0.1055,3.2240,143.0,1314.0
2017-10-17,3.2170,3.2170,3.1770,3.1860,0.0435,3.1805,248.0,1203.0
2017-10-18,3.1755,3.1840,3.1575,3.1610,0.0170,3.1635,325.0,1235.0
2017-10-19,3.1505,3.1560,3.1500,3.1545,0.0105,3.1530,208.0,1205.0
2017-10-20,3.1790,3.1790,3.1325,3.1535,0.0015,3.1515,168.0,1116.0
2017-10-23,3.1450,3.1750,3.1450,3.1690,0.0225,3.1740,118.0,944.0
2017-10-24,3.1810,3.2120,3.1810,3.1870,0.0125,3.1865,114.0,822.0
2017-10-25,3.1700,3.1760,3.1605,3.1720,0.0150,3.1715,242.0,660.0
2017-10-26,3.1640,3.1665,3.1590,3.1650,0.0040,3.1675,150.0,590.0
2017-10-27,3.1475,3.1475,3.0740,3.0740,0.0740,3.0935,152.0,328.0
2017-10-30,3.0800,3.1020,3.0800,3.0960,0.0070,3.1020,384.0,2285.0
2017-10-31,3.1000,3.1035,3.0850,3.1035,0.0100,3.0920,341.0,2215.0
2017-11-01,3.1380,3.1410,3.1260,3.1290,0.0410,3.1330,116.0,1624.0
2017-11-02,3.1300,3.1470,3.1275,3.1305,0.0025,3.1355,281.0,1317.0
2017-11-03,3.1345,3.1360,3.1020,3.1065,0.0250,3.1105,161.0,1131.0
2017-11-06,3.1490,3.1530,3.1440,3.1530,0.0400,3.1505,63.0,934.0
2017-11-07,3.1150,3.1150,3.0785,3.0830,0.0680,3.0825,160.0,749.0
2017-11-08,3.0925,3.0985,3.0905,3.0915,0.0105,3.0930,121.0,741.0
2017-11-09,3.0775,3.0855,3.0765,3.0815,0.0130,3.0800,60.0,620.0
2017-11-10,3.0790,3.0790,3.0635,3.0655,0.0105,3.0695,76.0,587.0
2017-11-13,3.0860,3.1260,3.0860,3.1110,0.0420,3.1115,167.0,557.0
2017-11-14,3.1030,3.1030,3.0445,3.0445,0.0515,3.0600,125.0,510.0
2017-11-15,3.0505,3.0575,3.0325,3.0455,0.0110,3.0490,146.0,393.0

#### Copper, LME

In [46]:
pdr.DataReader('LME/PR_CO', 'quandl', start_dt, end_dt).sort_index()

,CashBuyer,CashSeller&Settlement,3monthsBuyer,3monthsSeller,15monthsBuyer,15monthsSeller
Date,,,,,,
2012-01-03,29750.0,30350.0,29500.0,30100.0,28375.0,29375.0
2012-01-04,31500.0,32000.0,31250.0,31750.0,30075.0,31075.0
2012-01-05,32350.0,32500.0,31500.0,32000.0,30330.0,31330.0
2012-01-06,32250.0,32700.0,31000.0,32000.0,30075.0,31075.0
2012-01-09,31800.0,32300.0,31300.0,31800.0,30125.0,31125.0
2012-01-10,32000.0,33000.0,31000.0,32000.0,30075.0,31075.0
2012-01-11,32250.0,32500.0,31750.0,32000.0,30475.0,31475.0
2012-01-12,32500.0,33000.0,32000.0,32490.0,30845.0,31845.0
2012-01-13,33500.0,34000.0,32500.0,33000.0,31350.0,32350.0
2012-01-16,33850.0,33990.0,32500.0,33000.0,31350.0,32350.0
2012-01-17,33500.0,34000.0,32900.0,33900.0,32000.0,33000.0
2012-01-18,33800.0,34000.0,32950.0,33500.0,31825.0,32825.0
2012-01-19,34000.0,34500.0,32500.0,33500.0,31625.0,32625.0
2012-01-20,33200.0,33700.0,32500.0,33000.0,31380.0,32380.0
2012-01-23,32500.0,33500.0,31750.0,32750.0,30875.0,31875.0
2012-01-24,32800.0,33500.0,32000.0,33000.0,31125.0,32125.0
2012-01-25,32500.0,33500.0,32000.0,33000.0,31125.0,32125.0
2012-01-26,33700.0,33800.0,32500.0,33500.0,31625.0,32625.0
2012-01-27,33000.0,34000.0,32500.0,33500.0,31625.0,32625.0
2012-01-30,32500.0,33500.0,32000.0,33000.0,31100.0,32100.0
2012-01-31,33000.0,33500.0,32000.0,32500.0,30900.0,31900.0
2012-02-01,32000.0,33000.0,31500.0,32500.0,30575.0,31575.0
2012-02-02,32500.0,33000.0,32000.0,32250.0,30700.0,31700.0
2012-02-03,31000.0,31500.0,30000.0,31000.0,29075.0,30075.0
2012-02-06,30000.0,31500.0,30000.0,31500.0,29325.0,30325.0
2012-02-07,31500.0,32000.0,31000.0,31500.0,29825.0,30825.0
2012-02-08,30250.0,31250.0,30250.0,31250.0,29325.0,30325.0
2012-02-09,30500.0,31000.0,30000.0,31000.0,29100.0,30100.0
2012-02-10,30500.0,31000.0,30500.0,31000.0,29350.0,30350.0
2012-02-13,30500.0,31000.0,30500.0,31000.0,29350.0,30350.0
...,...,...,...,...,...,...
2017-10-05,58500.0,59000.0,58250.0,58750.0,57955.0,58955.0
2017-10-06,59000.0,59500.0,58500.0,59000.0,58205.0,59205.0
2017-10-09,59000.0,59500.0,58750.0,59250.0,58470.0,59470.0
2017-10-10,59000.0,59500.0,58750.0,59250.0,58475.0,59475.0
2017-10-11,58000.0,58250.0,57750.0,58250.0,57480.0,58480.0
2017-10-12,59250.0,59750.0,59000.0,59500.0,58740.0,59740.0
2017-10-13,59250.0,59750.0,59000.0,59500.0,58740.0,59740.0
2017-10-16,59250.0,59750.0,59000.0,59500.0,58995.0,59995.0
2017-10-17,59750.0,60250.0,59500.0,60000.0,59250.0,60250.0
2017-10-18,62000.0,62500.0,61500.0,62000.0,61250.0,62250.0
2017-10-19,60000.0,60500.0,59750.0,60250.0,59500.0,60500.0
2017-10-20,60750.0,61250.0,60500.0,61000.0,60250.0,61250.0
2017-10-23,59000.0,59500.0,59000.0,59500.0,58750.0,59750.0
2017-10-24,59500.0,60000.0,59500.0,60000.0,59250.0,60250.0
2017-10-25,60000.0,60500.0,60000.0,60500.0,59750.0,60750.0
2017-10-26,58750.0,59250.0,59000.0,59500.0,58750.0,59750.0
2017-10-27,60000.0,60500.0,60000.0,60500.0,59750.0,60750.0
2017-10-30,60000.0,60500.0,60000.0,60500.0,59750.0,60750.0
2017-10-31,61000.0,61500.0,60500.0,61000.0,60170.0,61170.0
2017-11-01,60000.0,60500.0,59500.0,60000.0,59175.0,60175.0
2017-11-02,61250.0,61750.0,60750.0,61250.0,60430.0,61430.0
2017-11-03,61000.0,61500.0,60500.0,61000.0,60180.0,61180.0
2017-11-06,60500.0,61000.0,60000.0,60500.0,59695.0,60695.0
2017-11-07,60500.0,61000.0,60000.0,60500.0,59700.0,60700.0
2017-11-08,60500.0,61000.0,60000.0,60500.0,59705.0,60705.0
2017-11-09,61000.0,61500.0,61000.0,61500.0,60710.0,61710.0
2017-11-10,60500.0,61000.0,60500.0,61000.0,60250.0,61250.0
2017-11-13,60500.0,61000.0,60500.0,61000.0,60250.0,61250.0
2017-11-14,59750.0,60250.0,59750.0,60250.0,59500.0,60500.0
2017-11-15,60750.0,61250.0,60750.0,61250.0,60500.0,61500.0

#### Copper, Shanghai

In [41]:
pdr.DataReader('SHFE/CUV2013', 'quandl', start_dt, end_dt).sort_index()

,PreSettle,Open,High,Low,Close,Settle,CH1,CH2,Volume,PrevDayOpenInterest,Change
Date,,,,,,,,,,,
2012-10-16,NaN,59100.0,59100.0,59100.0,59100.0,59100.0,0.0,0.0,20.0,20.0,20.0
2012-10-17,59100.0,NaN,NaN,NaN,59100.0,59100.0,0.0,0.0,NaN,20.0,0.0
2012-10-18,59100.0,59600.0,59600.0,59550.0,59550.0,59570.0,450.0,470.0,4.0,24.0,4.0
2012-10-19,59570.0,59300.0,59300.0,58570.0,58800.0,58660.0,-770.0,-910.0,358.0,202.0,178.0
2012-10-22,58660.0,57990.0,58210.0,57840.0,58210.0,58050.0,-450.0,-610.0,242.0,120.0,-82.0
2012-10-23,58050.0,58110.0,58120.0,57650.0,57760.0,57910.0,-290.0,-140.0,24.0,122.0,2.0
2012-10-24,57910.0,57550.0,57920.0,57550.0,57920.0,57620.0,10.0,-290.0,28.0,126.0,4.0
2012-10-25,57620.0,57900.0,57950.0,57500.0,57610.0,57700.0,-10.0,80.0,388.0,430.0,304.0
2012-10-26,57700.0,57450.0,57500.0,57100.0,57100.0,57390.0,-600.0,-310.0,138.0,540.0,110.0
2012-10-29,57390.0,57100.0,57410.0,56920.0,57020.0,57190.0,-370.0,-200.0,76.0,572.0,32.0
2012-10-30,57190.0,56750.0,56750.0,56650.0,56700.0,56710.0,-490.0,-480.0,54.0,592.0,20.0
2012-10-31,56710.0,56850.0,57320.0,56850.0,57130.0,57020.0,420.0,310.0,140.0,708.0,116.0
2012-11-01,57020.0,57180.0,57600.0,57180.0,57540.0,57350.0,520.0,330.0,94.0,726.0,18.0
2012-11-02,57350.0,57370.0,57390.0,57140.0,57140.0,57280.0,-210.0,-70.0,28.0,730.0,4.0
2012-11-05,57280.0,56380.0,56380.0,55980.0,56160.0,56080.0,-1120.0,-1200.0,48.0,756.0,26.0
2012-11-06,56080.0,56220.0,56480.0,56220.0,56450.0,56380.0,370.0,300.0,72.0,756.0,0.0
2012-11-07,56380.0,56540.0,57190.0,56500.0,57070.0,56740.0,690.0,360.0,100.0,768.0,12.0
2012-11-08,56740.0,56070.0,56200.0,55830.0,56200.0,56110.0,-540.0,-630.0,70.0,796.0,28.0
2012-11-09,56110.0,56410.0,56550.0,56200.0,56220.0,56450.0,110.0,340.0,86.0,816.0,20.0
2012-11-12,56450.0,56000.0,56150.0,55710.0,56120.0,56020.0,-330.0,-430.0,126.0,892.0,76.0
2012-11-13,56020.0,56020.0,56200.0,55860.0,55860.0,56000.0,-160.0,-20.0,152.0,1000.0,108.0
2012-11-14,56000.0,56150.0,56430.0,56080.0,56350.0,56230.0,350.0,230.0,72.0,1048.0,48.0
2012-11-15,56230.0,56090.0,56500.0,56020.0,56250.0,56330.0,20.0,100.0,64.0,1072.0,24.0
2012-11-16,56330.0,56400.0,56400.0,56050.0,56050.0,56150.0,-280.0,-180.0,48.0,1090.0,18.0
2012-11-19,56150.0,56320.0,56500.0,56300.0,56330.0,56390.0,180.0,240.0,46.0,1092.0,2.0
2012-11-20,56390.0,56800.0,56820.0,56600.0,56810.0,56760.0,420.0,370.0,28.0,1104.0,12.0
2012-11-21,56760.0,56660.0,56660.0,56080.0,56200.0,56380.0,-560.0,-380.0,82.0,1090.0,-14.0
2012-11-22,56380.0,56400.0,56400.0,56180.0,56290.0,56260.0,-90.0,-120.0,22.0,1086.0,-4.0
2012-11-23,56260.0,56000.0,56180.0,55880.0,56180.0,55980.0,-80.0,-280.0,36.0,1092.0,6.0
2012-11-26,55980.0,56220.0,56460.0,56140.0,56400.0,56310.0,420.0,330.0,40.0,1106.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...
2013-08-26,52860.0,53500.0,53870.0,53340.0,53510.0,53470.0,650.0,610.0,12180.0,67944.0,-2664.0
2013-08-27,53470.0,53200.0,53300.0,52960.0,53020.0,53080.0,-450.0,-390.0,13248.0,66672.0,-1272.0
2013-08-28,53080.0,52930.0,53150.0,52560.0,52600.0,52950.0,-480.0,-130.0,8582.0,66726.0,54.0
2013-08-29,52950.0,52670.0,52790.0,52230.0,52610.0,52500.0,-340.0,-450.0,15824.0,65108.0,-1618.0
2013-08-30,52500.0,52120.0,52330.0,52040.0,52230.0,52140.0,-270.0,-360.0,12656.0,64492.0,-616.0
2013-09-02,52140.0,52400.0,52920.0,52390.0,52700.0,52660.0,560.0,520.0,19896.0,62642.0,-1850.0
2013-09-03,52660.0,52700.0,52940.0,52440.0,52570.0,52610.0,-90.0,-50.0,9846.0,63668.0,1026.0
2013-09-04,52610.0,52630.0,52630.0,52200.0,52240.0,52350.0,-370.0,-260.0,7942.0,64026.0,358.0
2013-09-05,52350.0,51920.0,52170.0,51760.0,51950.0,51930.0,-400.0,-420.0,16112.0,64494.0,468.0
2013-09-06,51930.0,51970.0,52130.0,51900.0,52100.0,52000.0,170.0,70.0,10888.0,64684.0,190.0
2013-09-09,52000.0,52100.0,52600.0,52100.0,52470.0,52500.0,470.0,500.0,10908.0,64008.0,-676.0
2013-09-10,52500.0,52410.0,52420.0,52040.0,52180.0,52210.0,-320.0,-290.0,14686.0,64868.0,860.0
2013-09-11,52210.0,52310.0,52430.0,52080.0,52270.0,52270.0,60.0,60.0,14124.0,68326.0,3458.0
2013-09-12,52270.0,52130.0,52200.0,51700.0,51710.0,51930.0,-560.0,-340.0,21482.0,70754.0,2428.0
2013-09-13,51930.0,51550.0,51710.0,51370.0,51570.0,51480.0,-360.0,-450.0,22202.0,68740.0,-2014.0
2013-09-16,51480.0,51870.0,51940.0,51430.0,51600.0,51650.0,120.0,170.0,14366.0,71102.0,2362.0
2013-09-17,51650.0,51490.0,51830.0,51240.0,51810.0,51560.0,160.0,-90.0,17830.0,68242.0,-2860.0
2013-09-18,51560.0,51690.0,52030.0,51520.0,52030.0,51700.0,470.0,140.0,21082.0,65210.0,-3032.0
2013-09-23,51700.0,52410.0,52410.0,52060.0,52380.0,52180.0,680.0,480.0,28980.0,60452.0,-4758.0
2013-09-24,52180.0,52260.0,52450.0,52140.0,52150.0,52300.0,-30.0,120.0,28942.0,57540.0,-2912.0
2013-09-25,52300.0,52160.0,52270.0,52030.0,52230.0,52120.0,-70.0,-180.0,23390.0,51254.0,-6286.0
2013-09-26,52120.0,52250.0,52620.0,52110.0,52560.0,52330.0,440.0,210.0,28442.0,43312.0,-7942.0
2013-09-27,52330.0,52550.0,52800.0,52500.0,52650.0,52620.0,320.0,290.0,25040.0,38842.0,-4470.0
2013-09-30,52620.0,52650.0,53050.0,52530.0,52990.0,52730.0,370.0,110.0,27978.0,31324.0,-7518.0
2013-10-08,52730.0,52750.0,52840.0,52570.0,52750.0,52660.0,20.0,-70.0,11724.0,30670.0,-654.0
2013-10-09,52660.0,52450.0,52530.0,52090.0,52160.0,52300.0,-500.0,-360.0,15970.0,27710.0,-2960.0
2013-10-10,52300.0,51820.0,51990.0,51800.0,51950.0,51900.0,-350.0,-400.0,12510.0,24550.0,-3160.0
2013-10-11,51900.0,52180.0,52340.0,52030.0,52070.0,52150.0,170.0,250.0,9490.0,19410.0,-5140.0
2013-10-14,52150.0,52100.0,52720.0,51930.0,52630.0,52210.0,480.0,60.0,11240.0,13600.0,-5810.0
2013-10-15,52210.0,52630.0,52630.0,52300.0,52310.0,52440.0,100.0,230.0,5970.0,10580.0,-3020.0

### Aluminium

#### Aluminium, Shanghai

In [47]:
pdr.DataReader('LME/PR_AL', 'quandl', start_dt, end_dt).sort_index()

,CashBuyer,CashSeller&Settlement,3monthsBuyer,3monthsSeller,15monthsBuyer,15monthsSeller,Dec1Buyer,Dec1Seller,Dec2Buyer,Dec2Seller,Dec3Buyer,Dec3Seller
Date,,,,,,,,,,,,
2012-01-03,2005.5,2006.0,2034.0,2035.0,NaN,NaN,2215.0,2220.0,2313.0,2318.0,2398.0,2403.0
2012-01-04,2051.0,2052.0,2068.0,2068.5,NaN,NaN,2248.0,2253.0,2345.0,2350.0,2433.0,2438.0
2012-01-05,2003.0,2003.5,2028.0,2028.5,NaN,NaN,2210.0,2215.0,2307.0,2312.0,2395.0,2400.0
2012-01-06,2019.0,2020.0,2038.5,2039.0,NaN,NaN,2222.0,2227.0,2320.0,2325.0,2408.0,2413.0
2012-01-09,2061.0,2061.5,2078.5,2079.5,NaN,NaN,2260.0,2265.0,2358.0,2363.0,2445.0,2450.0
2012-01-10,2137.0,2138.0,2154.5,2155.0,NaN,NaN,2333.0,2338.0,2430.0,2435.0,2515.0,2520.0
2012-01-11,2134.0,2134.5,2160.0,2162.0,NaN,NaN,2343.0,2348.0,2438.0,2443.0,2518.0,2523.0
2012-01-12,2157.0,2157.5,2188.5,2189.0,NaN,NaN,2372.0,2377.0,2467.0,2472.0,2545.0,2550.0
2012-01-13,2109.5,2110.0,2139.0,2140.0,NaN,NaN,2323.0,2328.0,2420.0,2425.0,2498.0,2503.0
2012-01-16,2120.0,2121.0,2150.0,2150.5,NaN,NaN,2335.0,2340.0,2432.0,2437.0,2510.0,2515.0
2012-01-17,2171.0,2171.5,2210.0,2211.0,NaN,NaN,2398.0,2403.0,2495.0,2500.0,2575.0,2580.0
2012-01-18,2174.0,2175.0,2212.0,2212.5,NaN,NaN,2402.0,2407.0,2502.0,2507.0,2580.0,2585.0
2012-01-19,2180.5,2181.0,2217.0,2218.0,NaN,NaN,2408.0,2413.0,2508.0,2513.0,2585.0,2590.0
2012-01-20,2183.0,2184.0,2221.0,2222.0,NaN,NaN,2413.0,2418.0,2513.0,2518.0,2588.0,2593.0
2012-01-23,2193.0,2193.5,2229.0,2229.5,NaN,NaN,2418.0,2423.0,2518.0,2523.0,2593.0,2598.0
2012-01-24,2190.0,2190.5,2225.0,2225.5,NaN,NaN,2410.0,2415.0,2510.0,2515.0,2585.0,2590.0
2012-01-25,2185.5,2186.0,2227.5,2228.0,NaN,NaN,2413.0,2418.0,2510.0,2515.0,2585.0,2590.0
2012-01-26,2231.5,2232.0,2262.0,2263.0,NaN,NaN,2440.0,2445.0,2535.0,2540.0,2605.0,2610.0
2012-01-27,2241.0,2241.5,2277.0,2278.0,NaN,NaN,2455.0,2460.0,2548.0,2553.0,2615.0,2620.0
2012-01-30,2210.0,2210.5,2243.5,2244.0,NaN,NaN,2420.0,2425.0,2513.0,2518.0,2578.0,2583.0
2012-01-31,2257.0,2257.5,2298.0,2299.0,NaN,NaN,2478.0,2483.0,2570.0,2575.0,2635.0,2640.0
2012-02-01,2219.0,2219.5,2255.0,2256.0,NaN,NaN,2435.0,2440.0,2528.0,2533.0,2593.0,2598.0
2012-02-02,2200.0,2201.0,2240.5,2241.0,NaN,NaN,2420.0,2425.0,2505.0,2510.0,2570.0,2575.0
2012-02-03,2158.0,2159.0,2201.0,2201.5,NaN,NaN,2383.0,2388.0,2473.0,2478.0,2540.0,2545.0
2012-02-06,2175.0,2175.5,2217.0,2218.0,NaN,NaN,2398.0,2403.0,2485.0,2490.0,2550.0,2555.0
2012-02-07,2172.0,2173.0,2215.0,2216.0,NaN,NaN,2400.0,2405.0,2487.0,2492.0,2552.0,2557.0
2012-02-08,2236.0,2236.5,2275.0,2277.0,NaN,NaN,2460.0,2465.0,2542.0,2547.0,2603.0,2608.0
2012-02-09,2232.0,2232.5,2276.0,2277.0,NaN,NaN,2465.0,2470.0,2550.0,2555.0,2613.0,2618.0
2012-02-10,2218.0,2218.5,2258.0,2258.5,NaN,NaN,2442.0,2447.0,2527.0,2532.0,2587.0,2592.0
2012-02-13,2207.0,2207.5,2246.0,2247.0,NaN,NaN,2432.0,2437.0,2518.0,2523.0,2580.0,2585.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-10-05,2122.0,2124.0,2146.0,2147.0,NaN,NaN,2192.0,2197.0,2225.0,2230.0,2253.0,2258.0
2017-10-06,2121.0,2121.5,2145.5,2146.0,NaN,NaN,2190.0,2195.0,2223.0,2228.0,2252.0,2257.0
2017-10-09,2134.0,2135.0,2155.0,2157.0,NaN,NaN,2202.0,2207.0,2233.0,2238.0,2263.0,2268.0
2017-10-10,2132.5,2133.0,2160.0,2161.0,NaN,NaN,2207.0,2212.0,2238.0,2243.0,2268.0,2273.0
2017-10-11,2123.0,2124.0,2146.5,2147.0,NaN,NaN,2195.0,2200.0,2228.0,2233.0,2258.0,2263.0
2017-10-12,2117.0,2117.5,2142.0,2143.0,NaN,NaN,2192.0,2197.0,2225.0,2230.0,2253.0,2258.0
2017-10-13,2139.0,2140.0,2160.0,2160.5,NaN,NaN,2208.0,2213.0,2240.0,2245.0,2270.0,2275.0
2017-10-16,2143.5,2144.0,2159.0,2159.5,NaN,NaN,2205.0,2210.0,2238.0,2243.0,2267.0,2272.0
2017-10-17,2110.5,2111.0,2135.5,2136.0,NaN,NaN,2182.0,2187.0,2215.0,2220.0,2243.0,2248.0
2017-10-18,2106.0,2106.5,2125.0,2126.0,NaN,NaN,2172.0,2177.0,2205.0,2210.0,2235.0,2240.0
2017-10-19,2128.0,2128.5,2138.0,2138.5,NaN,NaN,2183.0,2188.0,2217.0,2222.0,2245.0,2250.0
2017-10-20,2158.5,2159.0,2165.5,2166.0,NaN,NaN,2210.0,2215.0,2243.0,2248.0,2273.0,2278.0
2017-10-23,2132.5,2133.5,2144.0,2145.0,NaN,NaN,2188.0,2193.0,2222.0,2227.0,2250.0,2255.0
2017-10-24,2143.5,2144.0,2155.0,2156.0,NaN,NaN,2200.0,2205.0,2233.0,2238.0,2263.0,2268.0
2017-10-25,2149.0,2149.5,2158.0,2159.0,NaN,NaN,2200.0,2205.0,2233.0,2238.0,2263.0,2268.0
2017-10-26,2174.0,2175.0,2187.0,2188.0,NaN,NaN,2230.0,2235.0,2263.0,2268.0,2288.0,2293.0
2017-10-27,2118.0,2119.0,2141.0,2142.0,NaN,NaN,2185.0,2190.0,2218.0,2223.0,2243.0,2248.0
2017-10-30,2142.0,2143.0,2160.0,2161.0,NaN,NaN,2203.0,2208.0,2237.0,2242.0,2263.0,2268.0
2017-10-31,2139.5,2140.0,2156.0,2157.0,NaN,NaN,2200.0,2205.0,2233.0,2238.0,2258.0,2263.0
2017-11-01,2187.0,2188.0,2196.5,2197.0,NaN,NaN,2238.0,2243.0,2272.0,2277.0,2298.0,2303.0
2017-11-02,2151.5,2152.0,2166.0,2167.0,NaN,NaN,2213.0,2218.0,2245.0,2250.0,2272.0,2277.0
2017-11-03,2163.0,2165.0,2183.0,2183.5,NaN,NaN,2228.0,2233.0,2260.0,2265.0,2287.0,2292.0
2017-11-06,2151.0,2152.0,2172.0,2172.5,NaN,NaN,2215.0,2220.0,2250.0,2255.0,2275.0,2280.0
2017-11-07,2130.0,2131.0,2150.0,2150.5,NaN,NaN,2195.0,2200.0,2228.0,2233.0,2255.0,2260.0
2017-11-08,2103.0,2103.5,2118.0,2120.0,NaN,NaN,2165.0,2170.0,2198.0,2203.0,2225.0,2230.0
2017-11-09,2077.5,2078.0,2091.5,2092.0,NaN,NaN,2138.0,2143.0,2172.0,2177.0,2198.0,2203.0
2017-11-10,2089.0,2090.0,2103.0,2104.0,NaN,NaN,2148.0,2153.0,2183.0,2188.0,2208.0,2213.0
2017-11-13,2099.0,2100.0,2113.0,2114.0,NaN,NaN,2158.0,2163.0,2193.0,2198.0,2220.0,2225.0
2017-11-14,2084.5,2085.0,2105.0,2105.5,NaN,NaN,2150.0,2155.0,2183.0,2188.0,2210.0,2215.0
2017-11-15,2081.5,2082.0,2096.0,2096.5,NaN,NaN,2142.0,2147.0,2177.0,2182.0,2203.0,2208.0

#### Aluminium, Shanghai

In [43]:
pdr.DataReader('SHFE/ALV2013', 'quandl', start_dt, end_dt).sort_index()

,PreSettle,Open,High,Low,Close,Settle,CH1,CH2,Volume,PrevDayOpenInterest,Change
Date,,,,,,,,,,,
2012-10-16,NaN,NaN,NaN,NaN,15690.0,15690.0,0.0,0.0,NaN,NaN,0.0
2012-10-17,15690.0,NaN,NaN,NaN,15690.0,15690.0,0.0,0.0,NaN,NaN,0.0
2012-10-18,15690.0,15865.0,15865.0,15865.0,15865.0,15865.0,175.0,175.0,2.0,2.0,2.0
2012-10-19,15865.0,15735.0,15735.0,15735.0,15735.0,15735.0,-130.0,-130.0,4.0,4.0,2.0
2012-10-22,15735.0,15680.0,15680.0,15680.0,15680.0,15680.0,-55.0,-55.0,20.0,22.0,18.0
2012-10-23,15680.0,NaN,NaN,NaN,15680.0,15680.0,0.0,0.0,NaN,22.0,0.0
2012-10-24,15680.0,NaN,NaN,NaN,15680.0,15680.0,0.0,0.0,NaN,22.0,0.0
2012-10-25,15680.0,NaN,NaN,NaN,15680.0,15680.0,0.0,0.0,NaN,22.0,0.0
2012-10-26,15680.0,NaN,NaN,NaN,15600.0,15600.0,-80.0,-80.0,NaN,22.0,0.0
2012-10-29,15600.0,NaN,NaN,NaN,15600.0,15600.0,0.0,0.0,NaN,22.0,0.0
2012-10-30,15600.0,NaN,NaN,NaN,15600.0,15600.0,0.0,0.0,NaN,22.0,0.0
2012-10-31,15600.0,NaN,NaN,NaN,15600.0,15600.0,0.0,0.0,NaN,22.0,0.0
2012-11-01,15600.0,15660.0,15660.0,15660.0,15660.0,15660.0,60.0,60.0,4.0,22.0,0.0
2012-11-02,15660.0,NaN,NaN,NaN,15660.0,15660.0,0.0,0.0,NaN,22.0,0.0
2012-11-05,15660.0,NaN,NaN,NaN,15610.0,15610.0,-50.0,-50.0,NaN,22.0,0.0
2012-11-06,15610.0,NaN,NaN,NaN,15610.0,15610.0,0.0,0.0,NaN,22.0,0.0
2012-11-07,15610.0,NaN,NaN,NaN,15610.0,15610.0,0.0,0.0,NaN,22.0,0.0
2012-11-08,15610.0,NaN,NaN,NaN,15610.0,15610.0,0.0,0.0,NaN,22.0,0.0
2012-11-09,15610.0,NaN,NaN,NaN,15610.0,15610.0,0.0,0.0,NaN,22.0,0.0
2012-11-12,15610.0,NaN,NaN,NaN,15610.0,15610.0,0.0,0.0,NaN,22.0,0.0
2012-11-13,15610.0,NaN,NaN,NaN,15610.0,15610.0,0.0,0.0,NaN,22.0,0.0
2012-11-14,15610.0,NaN,NaN,NaN,15610.0,15610.0,0.0,0.0,NaN,22.0,0.0
2012-11-15,15610.0,NaN,NaN,NaN,15610.0,15610.0,0.0,0.0,NaN,22.0,0.0
2012-11-16,15610.0,NaN,NaN,NaN,15610.0,15610.0,0.0,0.0,NaN,22.0,0.0
2012-11-19,15610.0,NaN,NaN,NaN,15610.0,15610.0,0.0,0.0,NaN,22.0,0.0
2012-11-20,15610.0,15725.0,15730.0,15655.0,15655.0,15725.0,45.0,115.0,50.0,50.0,28.0
2012-11-21,15725.0,NaN,NaN,NaN,15725.0,15725.0,0.0,0.0,NaN,50.0,0.0
2012-11-22,15725.0,15450.0,15650.0,15450.0,15610.0,15570.0,-115.0,-155.0,12.0,50.0,0.0
2012-11-23,15570.0,NaN,NaN,NaN,15530.0,15530.0,-40.0,-40.0,NaN,50.0,0.0
2012-11-26,15530.0,NaN,NaN,NaN,15700.0,15700.0,170.0,170.0,NaN,50.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2013-08-26,14425.0,14485.0,14485.0,14460.0,14465.0,14470.0,40.0,45.0,3366.0,38716.0,-540.0
2013-08-27,14470.0,14455.0,14460.0,14430.0,14430.0,14440.0,-40.0,-30.0,1960.0,38230.0,-486.0
2013-08-28,14440.0,14410.0,14445.0,14410.0,14425.0,14430.0,-15.0,-10.0,2070.0,38274.0,44.0
2013-08-29,14430.0,14420.0,14420.0,14350.0,14350.0,14375.0,-80.0,-55.0,2692.0,36586.0,-1688.0
2013-08-30,14375.0,14310.0,14310.0,14265.0,14280.0,14295.0,-95.0,-80.0,2602.0,35470.0,-1116.0
2013-09-02,14295.0,14300.0,14315.0,14260.0,14305.0,14280.0,10.0,-15.0,2836.0,35604.0,134.0
2013-09-03,14280.0,14300.0,14310.0,14275.0,14290.0,14285.0,10.0,5.0,2272.0,35410.0,-194.0
2013-09-04,14285.0,14280.0,14290.0,14255.0,14255.0,14275.0,-30.0,-10.0,2630.0,36288.0,878.0
2013-09-05,14275.0,14215.0,14225.0,14195.0,14205.0,14210.0,-70.0,-65.0,2898.0,35540.0,-748.0
2013-09-06,14210.0,14200.0,14255.0,14185.0,14245.0,14215.0,35.0,5.0,2426.0,35258.0,-282.0
2013-09-09,14215.0,14250.0,14290.0,14250.0,14290.0,14265.0,75.0,50.0,1486.0,34990.0,-268.0
2013-09-10,14265.0,14250.0,14250.0,14230.0,14245.0,14235.0,-20.0,-30.0,3400.0,34304.0,-686.0
2013-09-11,14235.0,14255.0,14260.0,14245.0,14260.0,14250.0,25.0,15.0,1734.0,34202.0,-102.0
2013-09-12,14250.0,14235.0,14260.0,14235.0,14255.0,14250.0,5.0,0.0,1178.0,34438.0,236.0
2013-09-13,14250.0,14230.0,14330.0,14230.0,14330.0,14285.0,80.0,35.0,3252.0,35124.0,686.0
2013-09-16,14285.0,14310.0,14350.0,14300.0,14310.0,14320.0,25.0,35.0,3724.0,34898.0,-226.0
2013-09-17,14320.0,14300.0,14310.0,14240.0,14310.0,14275.0,-10.0,-45.0,3516.0,32656.0,-2242.0
2013-09-18,14275.0,14295.0,14320.0,14290.0,14320.0,14300.0,45.0,25.0,3890.0,30544.0,-2112.0
2013-09-23,14300.0,14305.0,14350.0,14300.0,14350.0,14330.0,50.0,30.0,3962.0,28288.0,-2256.0
2013-09-24,14330.0,14370.0,14390.0,14355.0,14390.0,14380.0,60.0,50.0,2924.0,26228.0,-2060.0
2013-09-25,14380.0,14380.0,14395.0,14370.0,14390.0,14385.0,10.0,5.0,3358.0,23628.0,-2600.0
2013-09-26,14385.0,14380.0,14430.0,14360.0,14430.0,14385.0,45.0,0.0,3110.0,22184.0,-1444.0
2013-09-27,14385.0,14410.0,14440.0,14350.0,14440.0,14425.0,55.0,40.0,4980.0,19128.0,-3056.0
2013-09-30,14425.0,14430.0,14450.0,14420.0,14450.0,14430.0,25.0,5.0,4188.0,17528.0,-1600.0
2013-10-08,14430.0,14485.0,14520.0,14430.0,14515.0,14500.0,85.0,70.0,2878.0,15740.0,-1788.0
2013-10-09,14500.0,14565.0,14580.0,14540.0,14580.0,14555.0,80.0,55.0,3110.0,14690.0,-1050.0
2013-10-10,14555.0,14570.0,14650.0,14565.0,14565.0,14580.0,10.0,25.0,5010.0,13800.0,-890.0
2013-10-11,14580.0,14620.0,14640.0,14570.0,14620.0,14620.0,40.0,40.0,2260.0,12520.0,-1280.0
2013-10-14,14620.0,14620.0,14630.0,14550.0,14550.0,14600.0,-70.0,-20.0,2970.0,10720.0,-1800.0
2013-10-15,14600.0,14555.0,14555.0,14400.0,14415.0,14450.0,-185.0,-150.0,2590.0,9830.0,-890.0

### Zinc

#### Zinc, LME

In [48]:
pdr.DataReader('LME/PR_ZI', 'quandl', start_dt, end_dt).sort_index()

,CashBuyer,CashSeller&Settlement,3monthsBuyer,3monthsSeller,15monthsBuyer,15monthsSeller,Dec1Buyer,Dec1Seller,Dec2Buyer,Dec2Seller,Dec3Buyer,Dec3Seller
Date,,,,,,,,,,,,
2012-01-03,1826.0,1827.0,1849.0,1850.0,NaN,NaN,1935.0,1940.0,1945.0,1950.0,1950.0,1955.0
2012-01-04,1844.0,1844.5,1862.0,1862.5,NaN,NaN,1942.0,1947.0,1952.0,1957.0,1957.0,1962.0
2012-01-05,1835.0,1835.5,1847.0,1848.0,NaN,NaN,1930.0,1935.0,1940.0,1945.0,1945.0,1950.0
2012-01-06,1827.0,1827.5,1842.0,1843.0,NaN,NaN,1925.0,1930.0,1935.0,1940.0,1940.0,1945.0
2012-01-09,1854.0,1855.0,1867.5,1868.0,NaN,NaN,1955.0,1960.0,1975.0,1980.0,1980.0,1985.0
2012-01-10,1912.0,1912.5,1922.5,1923.0,NaN,NaN,2013.0,2018.0,2033.0,2038.0,2038.0,2043.0
2012-01-11,1909.5,1910.0,1919.0,1920.0,NaN,NaN,2008.0,2013.0,2023.0,2028.0,2028.0,2033.0
2012-01-12,1944.0,1945.0,1949.0,1950.0,NaN,NaN,2037.0,2042.0,2052.0,2057.0,2057.0,2062.0
2012-01-13,1942.0,1943.0,1947.0,1948.0,NaN,NaN,2033.0,2038.0,2048.0,2053.0,2053.0,2058.0
2012-01-16,1947.5,1948.0,1957.0,1957.5,NaN,NaN,2042.0,2047.0,2057.0,2062.0,2062.0,2067.0
2012-01-17,1999.5,2000.0,2004.0,2004.5,NaN,NaN,2088.0,2093.0,2103.0,2108.0,2108.0,2113.0
2012-01-18,1997.0,1997.5,2015.0,2016.0,NaN,NaN,2102.0,2107.0,2117.0,2122.0,2122.0,2127.0
2012-01-19,2011.0,2011.5,2031.0,2031.5,NaN,NaN,2117.0,2122.0,2122.0,2127.0,2127.0,2132.0
2012-01-20,1995.0,1995.5,2015.5,2016.0,NaN,NaN,2103.0,2108.0,2108.0,2113.0,2113.0,2118.0
2012-01-23,2015.0,2015.5,2038.0,2040.0,NaN,NaN,2125.0,2130.0,2130.0,2135.0,2135.0,2140.0
2012-01-24,2052.0,2052.5,2070.5,2071.0,NaN,NaN,2155.0,2160.0,2160.0,2165.0,2165.0,2170.0
2012-01-25,2095.0,2095.5,2111.0,2112.0,NaN,NaN,2190.0,2195.0,2193.0,2198.0,2183.0,2188.0
2012-01-26,2178.0,2178.5,2182.5,2183.0,NaN,NaN,2255.0,2260.0,2253.0,2258.0,2243.0,2248.0
2012-01-27,2178.0,2178.5,2195.0,2195.5,NaN,NaN,2265.0,2270.0,2263.0,2268.0,2252.0,2257.0
2012-01-30,2095.0,2095.5,2115.0,2117.0,NaN,NaN,2195.0,2200.0,2195.0,2200.0,2183.0,2188.0
2012-01-31,2125.0,2126.0,2135.0,2135.5,NaN,NaN,2217.0,2222.0,2218.0,2223.0,2208.0,2213.0
2012-02-01,2091.0,2091.5,2109.0,2110.0,NaN,NaN,2195.0,2200.0,2200.0,2205.0,2190.0,2195.0
2012-02-02,2092.5,2093.0,2110.0,2112.0,NaN,NaN,2198.0,2203.0,2203.0,2208.0,2193.0,2198.0
2012-02-03,2087.5,2088.0,2106.0,2107.0,NaN,NaN,2193.0,2198.0,2198.0,2203.0,2188.0,2193.0
2012-02-06,2119.5,2120.0,2137.5,2138.0,NaN,NaN,2220.0,2225.0,2223.0,2228.0,2213.0,2218.0
2012-02-07,2081.5,2082.0,2095.0,2096.0,NaN,NaN,2183.0,2188.0,2185.0,2190.0,2175.0,2180.0
2012-02-08,2128.0,2129.0,2143.5,2144.0,NaN,NaN,2230.0,2235.0,2237.0,2242.0,2227.0,2232.0
2012-02-09,2107.0,2108.0,2120.0,2121.0,NaN,NaN,2207.0,2212.0,2213.0,2218.0,2203.0,2208.0
2012-02-10,2112.0,2112.5,2123.0,2124.0,NaN,NaN,2205.0,2210.0,2212.0,2217.0,2202.0,2207.0
2012-02-13,2087.0,2087.5,2094.0,2095.0,NaN,NaN,2177.0,2182.0,2183.0,2188.0,2173.0,2178.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-10-05,3349.0,3350.0,3294.0,3296.0,NaN,NaN,3175.0,3180.0,2970.0,2975.0,NaN,NaN
2017-10-06,3335.5,3336.0,3273.0,3275.0,NaN,NaN,3163.0,3168.0,2958.0,2963.0,NaN,NaN
2017-10-09,3334.0,3334.5,3267.0,3268.0,NaN,NaN,3135.0,3140.0,2860.0,2865.0,NaN,NaN
2017-10-10,3312.0,3314.0,3238.0,3240.0,NaN,NaN,3112.0,3117.0,2837.0,2842.0,NaN,NaN
2017-10-11,3305.0,3306.0,3223.0,3225.0,NaN,NaN,3073.0,3078.0,2773.0,2778.0,NaN,NaN
2017-10-12,3332.5,3333.0,3259.5,3260.0,NaN,NaN,3068.0,3073.0,2778.0,2783.0,NaN,NaN
2017-10-13,3323.0,3325.0,3245.0,3245.5,NaN,NaN,3048.0,3053.0,2763.0,2768.0,NaN,NaN
2017-10-16,3320.5,3321.0,3260.5,3261.0,NaN,NaN,3123.0,3128.0,2873.0,2878.0,NaN,NaN
2017-10-17,3129.5,3130.0,3100.0,3102.0,NaN,NaN,3000.0,3005.0,2780.0,2785.0,NaN,NaN
2017-10-18,3184.5,3185.0,3127.0,3129.0,NaN,NaN,3012.0,3017.0,2792.0,2797.0,NaN,NaN
2017-10-19,3169.5,3170.0,3106.0,3108.0,NaN,NaN,2988.0,2993.0,2773.0,2778.0,NaN,NaN
2017-10-20,3207.0,3208.0,3145.0,3150.0,NaN,NaN,3032.0,3037.0,2818.0,2823.0,NaN,NaN
2017-10-23,3175.0,3176.0,3121.0,3122.0,NaN,NaN,3018.0,3023.0,2805.0,2810.0,NaN,NaN
2017-10-24,3264.0,3265.0,3195.0,3200.0,NaN,NaN,3088.0,3093.0,2858.0,2863.0,NaN,NaN
2017-10-25,3251.0,3251.5,3182.0,3187.0,NaN,NaN,3070.0,3075.0,2840.0,2845.0,NaN,NaN
2017-10-26,3299.0,3301.0,3227.0,3228.0,NaN,NaN,3090.0,3095.0,2850.0,2855.0,NaN,NaN
2017-10-27,3200.0,3201.0,3144.0,3145.0,NaN,NaN,3003.0,3008.0,2763.0,2768.0,NaN,NaN
2017-10-30,3269.5,3270.5,3203.0,3203.5,NaN,NaN,3053.0,3058.0,2813.0,2818.0,NaN,NaN
2017-10-31,3319.5,3320.0,3248.0,3250.0,NaN,NaN,3093.0,3098.0,2843.0,2848.0,NaN,NaN
2017-11-01,3330.0,3332.0,3275.0,3276.0,NaN,NaN,3120.0,3125.0,2870.0,2875.0,NaN,NaN
2017-11-02,3270.0,3272.0,3232.0,3234.0,NaN,NaN,3100.0,3105.0,2860.0,2865.0,NaN,NaN
2017-11-03,3265.0,3265.5,3229.0,3230.0,NaN,NaN,3115.0,3120.0,2910.0,2915.0,NaN,NaN
2017-11-06,3288.0,3290.0,3249.0,3250.0,NaN,NaN,3143.0,3148.0,2953.0,2958.0,NaN,NaN
2017-11-07,3258.0,3259.0,3213.0,3214.0,NaN,NaN,3110.0,3115.0,2920.0,2925.0,NaN,NaN
2017-11-08,3235.0,3235.5,3184.0,3184.5,NaN,NaN,3093.0,3098.0,2913.0,2918.0,NaN,NaN
2017-11-09,3231.0,3232.0,3172.0,3174.0,NaN,NaN,3085.0,3090.0,2910.0,2915.0,NaN,NaN
2017-11-10,3289.0,3289.5,3232.0,3233.0,NaN,NaN,3133.0,3138.0,2953.0,2958.0,NaN,NaN
2017-11-13,3241.0,3244.0,3199.0,3200.0,NaN,NaN,3107.0,3112.0,2932.0,2937.0,NaN,NaN
2017-11-14,3223.0,3224.0,3191.0,3192.0,NaN,NaN,3108.0,3113.0,2938.0,2943.0,NaN,NaN
2017-11-15,3190.0,3190.5,3130.0,3131.0,NaN,NaN,3048.0,3053.0,2883.0,2888.0,NaN,NaN

#### Zinc, Shanghai

In [42]:
pdr.DataReader('SHFE/ZNV2013', 'quandl', start_dt, end_dt).sort_index()

,PreSettle,Open,High,Low,Close,Settle,CH1,CH2,Volume,PrevDayOpenInterest,Change
Date,,,,,,,,,,,
2012-10-16,NaN,15550.0,15550.0,15220.0,15510.0,15315.0,0.0,0.0,148.0,128.0,128.0
2012-10-17,15315.0,15460.0,15590.0,15450.0,15535.0,15525.0,220.0,210.0,186.0,92.0,-36.0
2012-10-18,15525.0,15655.0,15660.0,15605.0,15605.0,15650.0,80.0,125.0,16.0,82.0,-10.0
2012-10-19,15650.0,NaN,NaN,NaN,15525.0,15525.0,-125.0,-125.0,NaN,82.0,0.0
2012-10-22,15525.0,15520.0,15520.0,15240.0,15385.0,15380.0,-140.0,-145.0,18.0,86.0,4.0
2012-10-23,15380.0,15365.0,15365.0,15185.0,15185.0,15265.0,-195.0,-115.0,10.0,86.0,0.0
2012-10-24,15265.0,15315.0,15315.0,15300.0,15300.0,15305.0,35.0,40.0,6.0,88.0,2.0
2012-10-25,15305.0,15340.0,15345.0,15300.0,15300.0,15325.0,-5.0,20.0,6.0,90.0,2.0
2012-10-26,15325.0,15200.0,15200.0,15115.0,15115.0,15160.0,-210.0,-165.0,14.0,88.0,-2.0
2012-10-29,15160.0,15155.0,15155.0,15120.0,15120.0,15135.0,-40.0,-25.0,12.0,86.0,-2.0
2012-10-30,15135.0,15075.0,15100.0,15060.0,15060.0,15070.0,-75.0,-65.0,68.0,54.0,-32.0
2012-10-31,15070.0,NaN,NaN,NaN,15070.0,15070.0,0.0,0.0,NaN,54.0,0.0
2012-11-01,15070.0,15245.0,15290.0,15245.0,15290.0,15265.0,220.0,195.0,8.0,50.0,-4.0
2012-11-02,15265.0,15220.0,15275.0,15220.0,15225.0,15240.0,-40.0,-25.0,6.0,48.0,-2.0
2012-11-05,15240.0,15100.0,15100.0,15100.0,15100.0,15100.0,-140.0,-140.0,10.0,48.0,0.0
2012-11-06,15100.0,15170.0,15210.0,15140.0,15210.0,15160.0,110.0,60.0,26.0,52.0,4.0
2012-11-07,15160.0,15250.0,15350.0,15250.0,15350.0,15315.0,190.0,155.0,6.0,46.0,-6.0
2012-11-08,15315.0,NaN,NaN,NaN,15235.0,15235.0,-80.0,-80.0,NaN,46.0,0.0
2012-11-09,15235.0,15350.0,15360.0,15350.0,15360.0,15355.0,125.0,120.0,4.0,48.0,2.0
2012-11-12,15355.0,15270.0,15270.0,15270.0,15270.0,15270.0,-85.0,-85.0,2.0,48.0,0.0
2012-11-13,15270.0,15380.0,15380.0,15375.0,15375.0,15375.0,105.0,105.0,8.0,48.0,0.0
2012-11-14,15375.0,15465.0,15535.0,15465.0,15505.0,15505.0,130.0,130.0,10.0,50.0,2.0
2012-11-15,15505.0,15510.0,15520.0,15510.0,15520.0,15515.0,15.0,10.0,6.0,50.0,0.0
2012-11-16,15515.0,NaN,NaN,NaN,15515.0,15515.0,0.0,0.0,NaN,50.0,0.0
2012-11-19,15515.0,15450.0,15485.0,15450.0,15485.0,15455.0,-30.0,-60.0,8.0,48.0,-2.0
2012-11-20,15455.0,15510.0,15510.0,15430.0,15430.0,15480.0,-25.0,25.0,6.0,50.0,2.0
2012-11-21,15480.0,15445.0,15445.0,15445.0,15445.0,15445.0,-35.0,-35.0,2.0,50.0,0.0
2012-11-22,15445.0,15465.0,15465.0,15465.0,15465.0,15465.0,20.0,20.0,2.0,50.0,0.0
2012-11-23,15465.0,15385.0,15500.0,15385.0,15500.0,15440.0,35.0,-25.0,4.0,48.0,-2.0
2012-11-26,15440.0,15595.0,15595.0,15595.0,15595.0,15595.0,155.0,155.0,2.0,48.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2013-08-26,15055.0,15195.0,15200.0,15100.0,15130.0,15140.0,75.0,85.0,6030.0,28032.0,-1424.0
2013-08-27,15140.0,15110.0,15120.0,15055.0,15060.0,15070.0,-80.0,-70.0,4648.0,26588.0,-1444.0
2013-08-28,15070.0,15050.0,15130.0,14980.0,15010.0,15055.0,-60.0,-15.0,2602.0,25802.0,-786.0
2013-08-29,15055.0,14960.0,14960.0,14900.0,14920.0,14930.0,-135.0,-125.0,6230.0,22622.0,-3180.0
2013-08-30,14930.0,14850.0,14885.0,14810.0,14835.0,14850.0,-95.0,-80.0,4398.0,20802.0,-1820.0
2013-09-02,14850.0,14800.0,14920.0,14775.0,14890.0,14875.0,40.0,25.0,2634.0,20006.0,-796.0
2013-09-03,14875.0,14865.0,14880.0,14835.0,14850.0,14855.0,-25.0,-20.0,2150.0,19784.0,-222.0
2013-09-04,14855.0,14845.0,14845.0,14760.0,14800.0,14810.0,-55.0,-45.0,982.0,19354.0,-430.0
2013-09-05,14810.0,14710.0,14740.0,14665.0,14685.0,14695.0,-125.0,-115.0,1852.0,19006.0,-348.0
2013-09-06,14695.0,14695.0,14750.0,14660.0,14730.0,14715.0,35.0,20.0,1648.0,18328.0,-678.0
2013-09-09,14715.0,14795.0,14845.0,14780.0,14840.0,14815.0,125.0,100.0,1644.0,17468.0,-860.0
2013-09-10,14815.0,14760.0,14760.0,14715.0,14740.0,14730.0,-75.0,-85.0,1378.0,16830.0,-638.0
2013-09-11,14730.0,14720.0,14755.0,14715.0,14735.0,14735.0,5.0,5.0,1320.0,16394.0,-436.0
2013-09-12,14735.0,14710.0,14710.0,14655.0,14680.0,14690.0,-55.0,-45.0,2718.0,15516.0,-878.0
2013-09-13,14690.0,14705.0,14790.0,14695.0,14740.0,14725.0,50.0,35.0,3336.0,15276.0,-240.0
2013-09-16,14725.0,14765.0,14765.0,14650.0,14660.0,14675.0,-65.0,-50.0,2538.0,13674.0,-1602.0
2013-09-17,14675.0,14630.0,14675.0,14610.0,14675.0,14635.0,0.0,-40.0,1962.0,12202.0,-1472.0
2013-09-18,14635.0,14615.0,14695.0,14615.0,14685.0,14640.0,50.0,5.0,1590.0,11594.0,-608.0
2013-09-23,14640.0,14610.0,14720.0,14605.0,14720.0,14665.0,80.0,25.0,3986.0,9010.0,-2584.0
2013-09-24,14665.0,14745.0,14770.0,14720.0,14730.0,14745.0,65.0,80.0,2448.0,7310.0,-1700.0
2013-09-25,14745.0,14740.0,14770.0,14725.0,14750.0,14745.0,5.0,0.0,1036.0,6940.0,-370.0
2013-09-26,14745.0,14745.0,14785.0,14730.0,14775.0,14755.0,30.0,10.0,2198.0,5010.0,-1930.0
2013-09-27,14755.0,14770.0,14780.0,14755.0,14780.0,14765.0,25.0,10.0,1594.0,3716.0,-1294.0
2013-09-30,14765.0,14740.0,14880.0,14740.0,14790.0,14810.0,25.0,45.0,782.0,3312.0,-404.0
2013-10-08,14810.0,14725.0,14795.0,14720.0,14780.0,14740.0,-30.0,-70.0,852.0,3100.0,-212.0
2013-10-09,14740.0,14800.0,14845.0,14800.0,14805.0,14810.0,65.0,70.0,880.0,2710.0,-390.0
2013-10-10,14810.0,14740.0,14850.0,14740.0,14850.0,14800.0,40.0,-10.0,270.0,2590.0,-120.0
2013-10-11,14800.0,14960.0,14995.0,14930.0,14975.0,14965.0,175.0,165.0,710.0,2340.0,-250.0
2013-10-14,14965.0,14975.0,15020.0,14975.0,14985.0,14990.0,20.0,25.0,1030.0,2300.0,-40.0
2013-10-15,14990.0,15010.0,15050.0,14990.0,14990.0,15020.0,0.0,30.0,890.0,2620.0,320.0

### Oil

#### OPEC Ref.

In [49]:
pdr.DataReader('OPEC/ORB', 'quandl', start_dt, end_dt).sort_index()

            Value
Date
2003-01-02  30.05
2003-01-03  30.83
2003-01-06  30.71
2003-01-07  29.72
2003-01-08  28.86
2003-01-09  29.51
2003-01-10  29.82
2003-01-13  29.82
2003-01-14  30.21
2003-01-15  30.66
2003-01-16  30.87
2003-01-17  31.02
2003-01-20  31.21
2003-01-21  30.90
2003-01-22  30.89
2003-01-23  30.18
2003-01-24  30.56
2003-01-27  30.16
2003-01-28  29.83
2003-01-29  30.30
2003-01-30  30.58
2003-01-31  30.71
2003-02-03  30.29
2003-02-04  29.98
2003-02-05  30.52
2003-02-06  30.77
2003-02-07  31.25
2003-02-10  31.38
2003-02-11  31.35
2003-02-12  31.30
...           ...
2017-10-04  53.93
2017-10-05  54.62
2017-10-06  54.47
2017-10-09  53.70
2017-10-10  54.23
2017-10-11  54.54
2017-10-12  54.44
2017-10-13  55.12
2017-10-16  55.74
2017-10-17  55.83
2017-10-18  56.12
2017-10-19  55.52
2017-10-20  55.41
2017-10-23  55.77
2017-10-24  55.59
2017-10-25  56.33
2017-10-26  56.45
2017-10-27  57.55
2017-10-30  58.27
2017-10-31  58.53
2017-11-01  59.21
2017-11-02  58.45
2017-11-03  59.12
2017-11-06  61.02
2017-11-07  62.07
2017-11-08  61.61
2017-11-09  61.70
2017-11-10  61.91
2017-11-13  61.27
2017-11-14  60.52

[3839 rows x 1 columns]

#### WTI Crude Oil

In [50]:
pdr.DataReader('ODA/POILWTI_USD', 'quandl', start_dt, end_dt).sort_index()

            Value
Date
2000-01-31  27.24
2000-02-29  29.21
2000-03-31  29.92
2000-04-30  25.78
2000-05-31  28.78
2000-06-30  31.86
2000-07-31  29.97
2000-08-31  31.31
2000-09-30  33.89
2000-10-31  33.05
2000-11-30  34.37
2000-12-31  28.40
2001-01-31  29.52
2001-02-28  29.57
2001-03-31  27.24
2001-04-30  27.37
2001-05-31  28.61
2001-06-30  27.56
2001-07-31  26.44
2001-08-31  27.45
2001-09-30  25.59
2001-10-31  22.18
2001-11-30  19.59
2001-12-31  19.31
2002-01-31  19.69
2002-02-28  20.72
2002-03-31  24.38
2002-04-30  26.24
2002-05-31  27.04
2002-06-30  25.51
...           ...
2015-01-31  47.60
2015-02-28  50.72
2015-03-31  47.78
2015-04-30  54.20
2015-05-31  59.26
2015-06-30  59.80
2015-07-31  51.16
2015-08-31  42.86
2015-09-30  45.48
2015-10-31  46.20
2015-11-30  42.65
2015-12-31  37.24
2016-01-31  31.70
2016-02-29  30.35
2016-03-31  37.77
2016-04-30  40.96
2016-05-31  46.85
2016-06-30  48.75
2016-07-31  44.89
2016-08-31  44.75
2016-09-30  45.17
2016-10-31  49.89
2016-11-30  45.62
2016-12-31  52.01
2017-01-31  52.56
2017-02-28  53.40
2017-03-31  49.58
2017-04-30  51.17
2017-05-31  48.56
2017-06-30  45.17

[210 rows x 1 columns]

#### Brent Crude Oil

In [51]:
pdr.DataReader('ODA/POILBRE_USD', 'quandl', start_dt, end_dt).sort_index()

            Value
Date
2000-01-31  25.22
2000-02-29  27.63
2000-03-31  27.47
2000-04-30  22.54
2000-05-31  27.40
2000-06-30  29.68
2000-07-31  28.51
2000-08-31  29.89
2000-09-30  32.62
2000-10-31  30.93
2000-11-30  32.52
2000-12-31  25.28
2001-01-31  25.64
2001-02-28  27.41
2001-03-31  24.40
2001-04-30  25.55
2001-05-31  28.45
2001-06-30  27.72
2001-07-31  24.54
2001-08-31  25.67
2001-09-30  25.54
2001-10-31  20.48
2001-11-30  18.94
2001-12-31  18.60
2002-01-31  19.48
2002-02-28  20.29
2002-03-31  23.69
2002-04-30  25.65
2002-05-31  25.43
2002-06-30  24.13
...           ...
2015-01-31  48.42
2015-02-28  57.93
2015-03-31  55.79
2015-04-30  59.39
2015-05-31  64.56
2015-06-30  62.35
2015-07-31  55.87
2015-08-31  46.99
2015-09-30  47.23
2015-10-31  48.12
2015-11-30  44.42
2015-12-31  37.72
2016-01-31  30.80
2016-02-29  33.20
2016-03-31  39.07
2016-04-30  42.25
2016-05-31  47.13
2016-06-30  48.48
2016-07-31  45.07
2016-08-31  46.14
2016-09-30  46.19
2016-10-31  49.73
2016-11-30  46.44
2016-12-31  54.07
2017-01-31  54.89
2017-02-28  55.49
2017-03-31  51.97
2017-04-30  53.06
2017-05-31  50.87
2017-06-30  46.89

[210 rows x 1 columns]

#### Dubai Crude Oil

In [52]:
pdr.DataReader('ODA/POILDUB_USD', 'quandl', start_dt, end_dt).sort_index()

            Value
Date
2000-01-31  23.18
2000-02-29  24.62
2000-03-31  25.08
2000-04-30  22.03
2000-05-31  25.51
2000-06-30  27.32
2000-07-31  26.01
2000-08-31  27.05
2000-09-30  29.74
2000-10-31  30.22
2000-11-30  30.10
2000-12-31  22.16
2001-01-31  22.69
2001-02-28  24.74
2001-03-31  23.43
2001-04-30  24.06
2001-05-31  25.58
2001-06-30  25.61
2001-07-31  23.43
2001-08-31  24.31
2001-09-30  23.96
2001-10-31  19.54
2001-11-30  17.53
2001-12-31  17.64
2002-01-31  18.29
2002-02-28  18.91
2002-03-31  22.85
2002-04-30  24.41
2002-05-31  24.59
2002-06-30  23.83
...           ...
2015-01-31  46.33
2015-02-28  56.15
2015-03-31  54.91
2015-04-30  58.67
2015-05-31  63.67
2015-06-30  61.76
2015-07-31  56.27
2015-08-31  47.30
2015-09-30  46.14
2015-10-31  46.55
2015-11-30  42.32
2015-12-31  34.70
2016-01-31  27.25
2016-02-29  29.61
2016-03-31  35.17
2016-04-30  39.04
2016-05-31  43.96
2016-06-30  45.83
2016-07-31  42.71
2016-08-31  43.64
2016-09-30  43.82
2016-10-31  48.26
2016-11-30  43.77
2016-12-31  51.76
2017-01-31  53.43
2017-02-28  54.17
2017-03-31  51.16
2017-04-30  52.45
2017-05-31  50.30
2017-06-30  46.34

[210 rows x 1 columns]

### Conv. Gas

#### US  All Grades Conv. Gas

In [56]:
pdr.DataReader('FRED/GASALLCOVW', 'quandl', start_dt, end_dt).sort_index()

            Value
Date
2000-01-03  1.301
2000-01-10  1.292
2000-01-17  1.308
2000-01-24  1.346
2000-01-31  1.346
2000-02-07  1.358
2000-02-14  1.389
2000-02-21  1.438
2000-02-28  1.450
2000-03-06  1.528
2000-03-13  1.550
2000-03-20  1.548
2000-03-27  1.524
2000-04-03  1.518
2000-04-10  1.487
2000-04-17  1.455
2000-04-24  1.445
2000-05-01  1.426
2000-05-08  1.467
2000-05-15  1.505
2000-05-22  1.533
2000-05-29  1.547
2000-06-05  1.571
2000-06-12  1.640
2000-06-19  1.695
2000-06-26  1.674
2000-07-03  1.642
2000-07-10  1.608
2000-07-17  1.561
2000-07-24  1.539
...           ...
2017-04-24  2.484
2017-05-01  2.444
2017-05-08  2.401
2017-05-15  2.396
2017-05-22  2.418
2017-05-29  2.418
2017-06-05  2.437
2017-06-12  2.389
2017-06-19  2.339
2017-06-26  2.316
2017-07-03  2.278
2017-07-10  2.324
2017-07-17  2.303
2017-07-24  2.340
2017-07-31  2.386
2017-08-07  2.405
2017-08-14  2.416
2017-08-21  2.389
2017-08-28  2.438
2017-09-04  2.722
2017-09-11  2.728
2017-09-18  2.678
2017-09-25  2.629
2017-10-02  2.614
2017-10-09  2.547
2017-10-16  2.532
2017-10-23  2.523
2017-10-30  2.526
2017-11-06  2.583
2017-11-13  2.619

[933 rows x 1 columns]

In [57]:
pdr.DataReader('FRED/GASPRMCOVW', 'quandl', start_dt, end_dt).sort_index()

            Value
Date
2000-01-03  1.444
2000-01-10  1.437
2000-01-17  1.451
2000-01-24  1.484
2000-01-31  1.485
2000-02-07  1.496
2000-02-14  1.527
2000-02-21  1.573
2000-02-28  1.584
2000-03-06  1.663
2000-03-13  1.689
2000-03-20  1.689
2000-03-27  1.667
2000-04-03  1.661
2000-04-10  1.632
2000-04-17  1.601
2000-04-24  1.587
2000-05-01  1.570
2000-05-08  1.609
2000-05-15  1.646
2000-05-22  1.674
2000-05-29  1.684
2000-06-05  1.703
2000-06-12  1.763
2000-06-19  1.811
2000-06-26  1.796
2000-07-03  1.772
2000-07-10  1.745
2000-07-17  1.708
2000-07-24  1.687
...           ...
2017-04-24  2.893
2017-05-01  2.855
2017-05-08  2.814
2017-05-15  2.807
2017-05-22  2.822
2017-05-29  2.821
2017-06-05  2.843
2017-06-12  2.800
2017-06-19  2.756
2017-06-26  2.735
2017-07-03  2.696
2017-07-10  2.736
2017-07-17  2.719
2017-07-24  2.760
2017-07-31  2.810
2017-08-07  2.825
2017-08-14  2.834
2017-08-21  2.810
2017-08-28  2.859
2017-09-04  3.153
2017-09-11  3.158
2017-09-18  3.112
2017-09-25  3.069
2017-10-02  3.055
2017-10-09  2.986
2017-10-16  2.964
2017-10-23  2.946
2017-10-30  2.947
2017-11-06  2.999
2017-11-13  3.037

[933 rows x 1 columns]

### Natural Gas

#### Henry Hub Natural Gas

In [59]:
pdr.DataReader('ODA/PNGASUS_USD', 'quandl', start_dt, end_dt).sort_index()

            Value
Date
2000-01-31   2.40
2000-02-29   2.66
2000-03-31   2.78
2000-04-30   3.04
2000-05-31   3.59
2000-06-30   4.29
2000-07-31   3.99
2000-08-31   4.43
2000-09-30   5.06
2000-10-31   5.02
2000-11-30   5.52
2000-12-31   8.91
2001-01-31   8.17
2001-02-28   5.55
2001-03-31   5.18
2001-04-30   5.18
2001-05-31   4.20
2001-06-30   3.73
2001-07-31   3.11
2001-08-31   2.95
2001-09-30   2.19
2001-10-31   2.47
2001-11-30   2.36
2001-12-31   2.42
2002-01-31   2.26
2002-02-28   2.31
2002-03-31   3.03
2002-04-30   3.43
2002-05-31   3.50
2002-06-30   3.23
...           ...
2015-01-31   2.97
2015-02-28   2.85
2015-03-31   2.80
2015-04-30   2.58
2015-05-31   2.84
2015-06-30   2.77
2015-07-31   2.83
2015-08-31   2.76
2015-09-30   2.65
2015-10-31   2.32
2015-11-30   2.08
2015-12-31   1.92
2016-01-31   2.27
2016-02-29   1.96
2016-03-31   1.70
2016-04-30   1.90
2016-05-31   1.92
2016-06-30   2.57
2016-07-31   2.79
2016-08-31   2.79
2016-09-30   2.97
2016-10-31   2.95
2016-11-30   2.50
2016-12-31   3.58
2017-01-31   3.26
2017-02-28   2.82
2017-03-31   2.87
2017-04-30   3.08
2017-05-31   3.12
2017-06-30   2.94

[210 rows x 1 columns]

#### Henry Hub, LA

In [60]:
pdr.DataReader('FRED/GASPRICE', 'quandl', start_dt, end_dt).sort_index()

            VALUE
DATE
2000-01-01   2.42
2000-02-01   2.66
2000-03-01   2.79
2000-04-01   3.04
2000-05-01   3.58
2000-06-01   4.29
2000-07-01   3.96
2000-08-01   4.41
2000-09-01   5.06
2000-10-01   5.02
2000-11-01   5.54
2000-12-01   8.95
2001-01-01   8.18
2001-02-01   5.62
2001-03-01   5.16
2001-04-01   5.17
2001-05-01   4.21
2001-06-01   3.71
2001-07-01   3.11
2001-08-01   2.96
2001-09-01   2.15
2001-10-01   2.45
2001-11-01   2.37
2001-12-01   2.42
2002-01-01   2.26
2002-02-01   2.31
2002-03-01   3.03
2002-04-01   3.43
2002-05-01   3.50
2002-06-01   3.23
...           ...
2011-09-01   3.89
2011-10-01   3.57
2011-11-01   3.24
2011-12-01   3.16
2012-01-01   2.67
2012-02-01   2.51
2012-03-01   2.16
2012-04-01   1.95
2012-05-01   2.43
2012-06-01   2.46
2012-07-01   2.96
2012-08-01   2.84
2012-09-01   2.85
2012-10-01   3.31
2012-11-01   3.55
2012-12-01   3.34
2013-01-01   3.33
2013-02-01   3.34
2013-03-01   3.82
2013-04-01   4.17
2013-05-01   4.04
2013-06-01   3.82
2013-07-01   3.63
2013-08-01   3.43
2013-09-01   3.62
2013-10-01   3.66
2013-11-01   3.62
2013-12-01   4.24
2014-01-01   4.69
2014-02-01   6.01

[170 rows x 1 columns]

#### NYMEX Natural Gas Future

In [58]:
pdr.DataReader('CHRIS/CME_NG1', 'quandl', start_dt, end_dt).sort_index()

,Open,High,Low,Last,Change,Settle,Volume,PreviousDayOpenInterest
Date,,,,,,,,
2000-01-04,2.180,2.200,2.130,2.176,NaN,2.176,30152.0,52771.0
2000-01-05,2.180,2.200,2.125,2.168,NaN,2.168,27946.0,52685.0
2000-01-06,2.175,2.220,2.165,2.196,NaN,2.196,29071.0,53814.0
2000-01-07,2.210,2.230,2.155,2.173,NaN,2.173,28455.0,54147.0
2000-01-10,2.180,2.255,2.165,2.216,NaN,2.216,28916.0,54435.0
2000-01-11,2.250,2.265,2.205,2.260,NaN,2.260,23405.0,53522.0
2000-01-12,2.280,2.285,2.190,2.244,NaN,2.244,36868.0,54971.0
2000-01-13,2.280,2.290,2.235,2.252,NaN,2.252,27091.0,54791.0
2000-01-14,2.280,2.350,2.270,2.322,NaN,2.322,26286.0,52159.0
2000-01-18,2.360,2.390,2.335,2.383,NaN,2.383,22929.0,53638.0
2000-01-19,2.390,2.465,2.370,2.417,NaN,2.417,43606.0,53116.0
2000-01-20,2.470,2.580,2.470,2.559,NaN,2.559,47336.0,49937.0
2000-01-21,2.610,2.635,2.420,2.485,NaN,2.485,66778.0,48290.0
2000-01-24,2.530,2.570,2.490,2.528,NaN,2.528,35075.0,42574.0
2000-01-25,2.600,2.630,2.575,2.616,NaN,2.616,39248.0,37104.0
2000-01-26,2.670,2.670,2.500,2.523,NaN,2.523,58710.0,26432.0
2000-01-27,2.540,2.680,2.520,2.610,NaN,2.610,64058.0,3653.0
2000-01-28,2.560,2.660,2.500,2.532,NaN,2.532,53887.0,48029.0
2000-01-31,2.575,2.675,2.565,2.662,NaN,2.662,35135.0,48609.0
2000-02-01,2.690,2.745,2.635,2.699,NaN,2.699,47920.0,50756.0
2000-02-02,2.770,2.780,2.700,2.759,NaN,2.759,37894.0,52054.0
2000-02-03,2.710,2.770,2.630,2.659,NaN,2.659,60182.0,54966.0
2000-02-04,2.620,2.750,2.620,2.742,NaN,2.742,35993.0,56769.0
2000-02-07,2.695,2.715,2.550,2.562,NaN,2.562,44070.0,53915.0
2000-02-08,2.530,2.555,2.475,2.495,NaN,2.495,44117.0,49182.0
2000-02-09,2.520,2.565,2.520,2.540,NaN,2.540,25880.0,44956.0
2000-02-10,2.570,2.610,2.525,2.592,NaN,2.592,39109.0,44353.0
2000-02-11,2.615,2.665,2.560,2.570,NaN,2.570,40559.0,41025.0
2000-02-14,2.530,2.560,2.515,2.541,NaN,2.541,22225.0,40954.0
2000-02-15,2.560,2.625,2.545,2.618,NaN,2.618,27696.0,43070.0
...,...,...,...,...,...,...,...,...
2017-10-05,2.934,2.995,2.894,2.896,0.017,2.923,176806.0,340400.0
2017-10-06,2.895,2.917,2.856,2.865,0.060,2.863,222358.0,336575.0
2017-10-09,2.859,2.886,2.827,2.836,0.030,2.833,168219.0,313310.0
2017-10-10,2.836,2.896,2.833,2.881,0.058,2.891,195959.0,291796.0
2017-10-11,2.882,2.962,2.876,2.905,0.002,2.889,220954.0,260955.0
2017-10-12,2.906,3.008,2.895,2.987,0.100,2.989,307381.0,224147.0
2017-10-13,2.995,3.036,2.984,3.002,0.011,3.000,176913.0,191257.0
2017-10-16,2.960,2.977,2.908,2.954,0.054,2.946,178684.0,174914.0
2017-10-17,2.955,3.026,2.921,2.923,0.016,2.962,201641.0,162085.0
2017-10-18,2.923,2.941,2.851,2.864,0.108,2.854,196408.0,139206.0
2017-10-19,2.868,2.910,2.773,2.886,0.019,2.873,292842.0,121052.0
2017-10-20,2.886,2.940,2.856,2.910,0.042,2.915,217271.0,110149.0
2017-10-23,3.001,3.017,2.948,2.966,0.076,2.991,171987.0,75253.0
2017-10-24,2.971,3.004,2.960,2.988,0.017,2.974,109546.0,46837.0
2017-10-25,2.991,2.999,2.913,2.929,0.055,2.919,65097.0,24446.0
2017-10-26,2.929,2.941,2.867,2.896,0.029,2.890,48216.0,18945.0
2017-10-27,2.899,2.899,2.723,2.755,0.138,2.752,12719.0,5740.0
2017-10-30,2.938,3.006,2.936,2.988,0.002,2.966,123919.0,311708.0
2017-10-31,2.988,3.005,2.882,2.905,0.070,2.896,190500.0,310739.0
2017-11-01,2.906,2.929,2.847,2.895,0.003,2.893,187910.0,318906.0
2017-11-02,2.900,2.957,2.881,2.935,0.042,2.935,179766.0,323458.0
2017-11-03,2.935,2.998,2.930,2.994,0.049,2.984,141165.0,313521.0
2017-11-06,3.085,3.143,3.051,3.117,0.150,3.134,247191.0,306161.0
2017-11-07,3.125,3.176,3.088,3.152,0.018,3.152,238327.0,273456.0
2017-11-08,3.151,3.190,3.114,3.155,0.023,3.175,205724.0,228571.0
2017-11-09,3.152,3.217,3.152,3.211,0.025,3.200,241785.0,198408.0
2017-11-10,3.208,3.224,3.171,3.220,0.013,3.213,172311.0,177645.0
2017-11-13,3.200,3.231,3.127,3.141,0.046,3.167,206529.0,146838.0
2017-11-14,3.141,3.149,3.064,3.081,0.065,3.102,215917.0,128638.0
2017-11-15,3.078,3.153,3.052,3.088,0.022,3.080,191297.0,116706.0

#### ICE UK Natural Gas Futures

In [61]:
pdr.DataReader('CHRIS/ICE_M1', 'quandl', start_dt, end_dt).sort_index()

,Open,High,Low,Settle,Change,Wave,Volume,PrevDayOpenInterest,EFPVolume,EFSVolume,BlockVolume
Date,,,,,,,,,,,
2000-01-04,11.65,11.65,11.55,11.58,-0.39,NaN,215.0,5760.0,NaN,NaN,NaN
2000-01-05,11.48,11.50,11.45,11.50,-0.08,NaN,340.0,5590.0,NaN,NaN,NaN
2000-01-06,11.44,11.47,11.44,11.46,-0.04,NaN,225.0,5560.0,NaN,NaN,NaN
2000-01-07,11.40,11.43,11.40,11.41,-0.05,NaN,250.0,5455.0,NaN,NaN,NaN
2000-01-10,11.51,11.53,11.50,11.51,0.10,NaN,180.0,5490.0,NaN,NaN,NaN
2000-01-11,11.52,11.62,11.52,11.59,0.08,NaN,480.0,5440.0,NaN,NaN,NaN
2000-01-12,11.70,11.75,11.57,11.66,0.07,NaN,375.0,5265.0,NaN,NaN,NaN
2000-01-13,11.89,12.10,11.89,11.99,0.33,NaN,1025.0,4785.0,100.0,NaN,NaN
2000-01-14,12.00,12.02,11.87,11.94,-0.05,NaN,295.0,4795.0,NaN,NaN,NaN
2000-01-17,11.99,12.09,11.99,12.03,0.09,NaN,335.0,4875.0,NaN,NaN,NaN
2000-01-18,12.17,12.40,12.17,12.33,0.30,NaN,630.0,4855.0,NaN,NaN,NaN
2000-01-19,12.65,13.15,12.65,13.03,0.70,NaN,640.0,5135.0,NaN,NaN,NaN
2000-01-20,13.35,13.80,13.35,13.72,0.69,NaN,335.0,5160.0,NaN,NaN,NaN
2000-01-21,14.30,14.70,13.95,14.08,0.36,NaN,805.0,5255.0,160.0,NaN,NaN
2000-01-24,13.80,14.05,13.80,13.93,-0.15,NaN,460.0,5295.0,60.0,NaN,NaN
2000-01-25,13.80,13.90,13.66,13.70,-0.23,NaN,455.0,5260.0,NaN,NaN,NaN
2000-01-26,13.69,13.72,13.65,13.69,-0.01,NaN,2820.0,2990.0,2540.0,NaN,NaN
2000-01-27,13.79,13.90,13.77,13.86,0.17,NaN,2255.0,1675.0,1745.0,NaN,NaN
2000-01-28,13.70,14.00,13.70,13.98,0.12,NaN,845.0,915.0,505.0,NaN,NaN
2000-01-31,11.55,11.60,11.55,11.57,-0.19,NaN,200.0,5515.0,NaN,NaN,NaN
2000-02-01,11.64,11.70,11.64,11.66,0.09,NaN,310.0,5280.0,NaN,NaN,NaN
2000-02-02,11.85,11.97,11.85,11.93,0.27,NaN,355.0,5335.0,NaN,NaN,NaN
2000-02-03,12.05,12.05,11.96,12.02,0.09,NaN,360.0,5445.0,NaN,NaN,NaN
2000-02-04,12.02,12.10,12.02,12.06,0.04,NaN,420.0,5105.0,NaN,NaN,NaN
2000-02-07,12.05,12.05,12.00,12.01,-0.05,NaN,145.0,5110.0,NaN,NaN,NaN
2000-02-08,12.20,12.20,12.00,12.03,0.02,NaN,690.0,4960.0,NaN,NaN,NaN
2000-02-09,12.08,12.13,12.04,12.09,0.06,NaN,445.0,4680.0,NaN,NaN,NaN
2000-02-10,12.17,12.20,12.13,12.15,0.06,NaN,265.0,4655.0,NaN,NaN,NaN
2000-02-11,12.15,12.20,12.10,12.16,0.01,NaN,510.0,4690.0,NaN,NaN,NaN
2000-02-14,12.15,12.40,12.15,12.38,0.22,NaN,845.0,4395.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2017-10-05,49.45,50.54,48.90,50.13,1.06,49.807,22825.0,45046.0,NaN,NaN,945.0
2017-10-06,49.56,50.50,49.45,50.02,-0.11,49.778,12325.0,43348.0,NaN,NaN,1720.0
2017-10-09,50.40,50.60,49.99,50.23,0.21,50.299,10875.0,44060.0,NaN,NaN,1420.0
2017-10-10,50.30,50.40,49.61,49.79,-0.44,49.929,14385.0,42274.0,NaN,NaN,150.0
2017-10-11,49.69,50.60,49.65,49.80,0.01,50.134,6085.0,44557.0,450.0,NaN,110.0
2017-10-12,49.16,49.60,48.90,49.27,-0.53,49.247,11615.0,43292.0,NaN,NaN,150.0
2017-10-13,49.16,49.58,49.11,49.19,-0.08,49.290,7645.0,43110.0,500.0,NaN,615.0
2017-10-16,49.25,50.00,49.10,49.90,0.71,49.640,10930.0,43477.0,NaN,NaN,760.0
2017-10-17,49.60,50.30,49.60,49.79,-0.11,49.901,12115.0,42691.0,NaN,NaN,320.0
2017-10-18,49.81,50.68,49.70,50.57,0.78,50.369,7420.0,40241.0,NaN,NaN,5740.0
2017-10-19,50.64,50.93,49.73,49.96,-0.61,50.174,11575.0,37096.0,550.0,NaN,1350.0
2017-10-20,50.16,50.50,48.70,48.91,-1.05,49.410,12300.0,37141.0,140.0,NaN,660.0
2017-10-23,49.44,49.90,48.32,48.38,-0.53,48.908,14865.0,37288.0,125.0,NaN,600.0
2017-10-24,48.75,48.75,48.10,48.30,-0.08,48.380,9595.0,34605.0,250.0,NaN,1900.0
2017-10-25,48.80,49.05,48.57,48.66,0.36,48.758,8450.0,31904.0,NaN,NaN,2010.0
2017-10-26,48.29,48.95,48.20,48.25,-0.41,48.543,9135.0,30688.0,125.0,NaN,6035.0
2017-10-27,48.49,48.50,47.76,47.85,-0.40,48.072,12635.0,25970.0,1255.0,NaN,740.0
2017-10-30,50.38,50.66,49.80,49.84,-0.47,50.211,8510.0,49115.0,NaN,NaN,455.0
2017-10-31,50.00,50.61,50.00,50.38,0.54,50.416,9100.0,48846.0,NaN,NaN,550.0
2017-11-01,50.40,51.35,50.40,51.10,0.72,50.915,10865.0,49696.0,NaN,NaN,305.0
2017-11-02,51.23,52.11,50.86,51.96,0.86,51.510,11125.0,47995.0,NaN,NaN,405.0
2017-11-03,51.58,51.60,50.64,50.89,-1.07,51.075,10800.0,46766.0,440.0,NaN,255.0
2017-11-06,50.51,52.85,50.51,52.67,1.78,52.456,15270.0,47231.0,NaN,NaN,150.0
2017-11-07,52.84,54.00,52.66,53.48,0.81,53.463,16990.0,45764.0,NaN,NaN,1685.0
2017-11-08,54.00,54.60,53.20,53.81,0.33,53.742,14765.0,47306.0,NaN,NaN,795.0
2017-11-09,54.31,55.05,54.20,54.51,0.70,54.505,9630.0,48926.0,NaN,NaN,105.0
2017-11-10,54.51,55.21,53.64,54.83,0.32,54.159,8980.0,49993.0,NaN,NaN,265.0
2017-11-13,54.86,55.79,54.55,55.68,0.85,55.226,12720.0,50310.0,NaN,NaN,935.0
2017-11-14,54.71,54.85,53.50,53.80,-1.88,54.039,14960.0,50807.0,NaN,NaN,1425.0
2017-11-15,53.32,53.40,52.38,52.76,-1.04,52.764,11525.0,50026.0,NaN,NaN,610.0

#### Germany Natural Gas (from Russia)

In [62]:
pdr.DataReader('ODA/PNGASEU_USD', 'quandl', start_dt, end_dt).sort_index()

            Value
Date
2000-01-31   3.06
2000-02-29   3.06
2000-03-31   3.06
2000-04-30   3.24
2000-05-31   3.24
2000-06-30   3.24
2000-07-31   3.59
2000-08-31   3.59
2000-09-30   3.59
2000-10-31   3.93
2000-11-30   3.93
2000-12-31   3.93
2001-01-31   4.22
2001-02-28   4.22
2001-03-31   4.22
2001-04-30   4.26
2001-05-31   4.26
2001-06-30   4.26
2001-07-31   3.78
2001-08-31   3.78
2001-09-30   3.78
2001-10-31   3.24
2001-11-30   3.24
2001-12-31   3.22
2002-01-31   2.79
2002-02-28   2.79
2002-03-31   2.79
2002-04-30   2.56
2002-05-31   2.56
2002-06-30   2.56
...           ...
2015-01-31   9.50
2015-02-28   9.29
2015-03-31   9.29
2015-04-30   7.39
2015-05-31   7.37
2015-06-30   7.30
2015-07-31   6.68
2015-08-31   6.66
2015-09-30   6.49
2015-10-31   6.01
2015-11-30   5.87
2015-12-31   5.81
2016-01-31   5.09
2016-02-29   4.79
2016-03-31   4.09
2016-04-30   4.02
2016-05-31   3.99
2016-06-30   4.04
2016-07-31   4.30
2016-08-31   4.25
2016-09-30   3.96
2016-10-31   4.01
2016-11-30   4.54
2016-12-31   5.16
2017-01-31   6.28
2017-02-28   6.10
2017-03-31   4.95
2017-04-30   5.04
2017-05-31   5.07
2017-06-30   4.98

[210 rows x 1 columns]

#### Japan Natural Gas (from Indonesia)

In [63]:
pdr.DataReader('ODA/PNGASJP_USD', 'quandl', start_dt, end_dt).sort_index()

            Value
Date
2000-01-31   4.54
2000-02-29   4.58
2000-03-31   4.95
2000-04-30   5.08
2000-05-31   4.58
2000-06-30   5.14
2000-07-31   5.38
2000-08-31   5.51
2000-09-30   5.56
2000-10-31   5.92
2000-11-30   5.86
2000-12-31   5.72
2001-01-31   4.98
2001-02-28   4.66
2001-03-31   4.85
2001-04-30   4.79
2001-05-31   4.95
2001-06-30   5.11
2001-07-31   5.05
2001-08-31   4.73
2001-09-30   4.63
2001-10-31   4.65
2001-11-30   3.95
2001-12-31   3.68
2002-01-31   3.57
2002-02-28   3.64
2002-03-31   3.69
2002-04-30   4.07
2002-05-31   4.44
2002-06-30   4.53
...           ...
2015-01-31  15.50
2015-02-28  14.69
2015-03-31  13.05
2015-04-30  11.02
2015-05-31   9.04
2015-06-30   8.79
2015-07-31   9.32
2015-08-31  10.16
2015-09-30  10.01
2015-10-31  10.37
2015-11-30   9.40
2015-12-31  10.15
2016-01-31   8.46
2016-02-29   7.99
2016-03-31   8.01
2016-04-30   6.68
2016-05-31   6.81
2016-06-30   7.08
2016-07-31   6.85
2016-08-31   7.42
2016-09-30   7.79
2016-10-31   7.93
2016-11-30   7.16
2016-12-31   7.09
2017-01-31   9.17
2017-02-28   7.13
2017-03-31   5.79
2017-04-30   5.71
2017-05-31   5.72
2017-06-30   5.52

[210 rows x 1 columns]

### Coffee

#### Arabica

In [54]:
pdr.DataReader('ODA/PCOFFOTM_USD', 'quandl', start_dt, end_dt).sort_index()

             Value
Date
2000-01-31  109.17
2000-02-29  101.65
2000-03-31   97.95
2000-04-30   92.56
2000-05-31   91.76
2000-06-30   84.10
2000-07-31   84.67
2000-08-31   74.52
2000-09-30   73.83
2000-10-31   75.37
2000-11-30   70.47
2000-12-31   64.50
2001-01-31   64.98
2001-02-28   66.94
2001-03-31   65.93
2001-04-30   65.51
2001-05-31   68.94
2001-06-30   63.67
2001-07-31   58.47
2001-08-31   59.68
2001-09-30   57.71
2001-10-31   56.53
2001-11-30   58.96
2001-12-31   55.60
2002-01-31   57.34
2002-02-28   60.51
2002-03-31   66.38
2002-04-30   65.78
2002-05-31   58.43
2002-06-30   55.16
...            ...
2015-01-31  190.90
2015-02-28  179.94
2015-03-31  160.02
2015-04-30  164.95
2015-05-31  158.17
2015-06-30  159.77
2015-07-31  153.29
2015-08-31  158.78
2015-09-30  147.65
2015-10-31  153.88
2015-11-30  148.94
2015-12-31  149.52
2016-01-31  146.32
2016-02-29  148.94
2016-03-31  156.94
2016-04-30  154.20
2016-05-31  155.40
2016-06-30  165.85
2016-07-31  172.35
2016-08-31  170.34
2016-09-30  178.07
2016-10-31  178.62
2016-11-30  185.13
2016-12-31  162.16
2017-01-31  167.83
2017-02-28  165.56
2017-03-31  159.39
2017-04-30  155.90
2017-05-31  151.18
2017-06-30  144.10

[210 rows x 1 columns]

#### Robusta

In [55]:
pdr.DataReader('ODA/PCOFFROB_USD', 'quandl', start_dt, end_dt).sort_index()

             Value
Date
2000-01-31   53.62
2000-02-29   49.62
2000-03-31   47.17
2000-04-30   45.23
2000-05-31   45.19
2000-06-30   43.72
2000-07-31   41.96
2000-08-31   38.94
2000-09-30   39.47
2000-10-31   36.55
2000-11-30   33.34
2000-12-31   31.07
2001-01-31   32.97
2001-02-28   31.97
2001-03-31   30.96
2001-04-30   28.62
2001-05-31   29.71
2001-06-30   29.32
2001-07-31   27.59
2001-08-31   25.86
2001-09-30   23.79
2001-10-31   21.26
2001-11-30   22.03
2001-12-31   23.76
2002-01-31   22.88
2002-02-28   24.46
2002-03-31   29.77
2002-04-30   30.35
2002-05-31   29.43
2002-06-30   29.26
...            ...
2015-01-31  102.32
2015-02-28  103.74
2015-03-31   98.07
2015-04-30   98.73
2015-05-31   94.35
2015-06-30   96.89
2015-07-31   92.71
2015-08-31   91.94
2015-09-30   87.98
2015-10-31   88.67
2015-11-30   88.63
2015-12-31   86.32
2016-01-31   81.96
2016-02-29   81.16
2016-03-31   83.19
2016-04-30   87.60
2016-05-31   91.03
2016-06-30   92.61
2016-07-31   96.98
2016-08-31   96.68
2016-09-30  101.77
2016-10-31  107.53
2016-11-30  106.94
2016-12-31  103.71
2017-01-31  111.26
2017-02-28  110.13
2017-03-31  110.02
2017-04-30  106.25
2017-05-31  101.47
2017-06-30  104.83

[210 rows x 1 columns]

#### Coffee Futures

In [53]:
pdr.DataReader('CHRIS/ICE_KC1', 'quandl', start_dt, end_dt).sort_index()

,Open,High,Low,Settle,Change,Wave,Volume,PrevDayOpenInterest,EFPVolume,EFSVolume,BlockVolume
Date,,,,,,,,,,,
2000-01-03,116.50,124.00,116.10,116.50,-9.40,NaN,6640.0,29132.0,0.0,0.0,0.0
2000-01-04,116.25,120.50,115.75,116.25,-0.25,NaN,5492.0,29397.0,0.0,0.0,0.0
2000-01-05,118.60,121.00,115.00,118.60,2.35,NaN,6165.0,29459.0,0.0,0.0,0.0
2000-01-06,116.85,121.40,116.50,116.85,-1.75,NaN,5094.0,29708.0,0.0,0.0,0.0
2000-01-07,114.15,117.75,113.80,114.15,-2.70,NaN,6855.0,29709.0,0.0,0.0,0.0
2000-01-10,117.55,126.00,116.70,117.55,3.40,NaN,7499.0,29411.0,0.0,0.0,0.0
2000-01-11,117.80,118.25,115.50,117.80,0.25,NaN,3976.0,29905.0,0.0,0.0,0.0
2000-01-12,118.95,120.50,116.90,118.95,1.15,NaN,5184.0,29778.0,0.0,0.0,0.0
2000-01-13,118.55,120.00,117.50,118.55,-0.40,NaN,3717.0,29904.0,0.0,0.0,0.0
2000-01-14,112.55,120.25,112.25,112.55,-6.00,NaN,10115.0,29906.0,0.0,0.0,0.0
2000-01-18,115.75,118.25,110.60,115.75,3.20,NaN,7364.0,30120.0,0.0,0.0,0.0
2000-01-19,116.70,118.25,114.75,116.70,0.95,NaN,6626.0,29600.0,0.0,0.0,0.0
2000-01-20,112.00,118.80,111.70,112.00,-4.70,NaN,8834.0,29207.0,0.0,0.0,0.0
2000-01-21,111.20,113.50,110.80,111.20,-0.80,NaN,5625.0,27725.0,0.0,0.0,0.0
2000-01-24,111.90,114.40,110.95,111.90,0.70,NaN,5821.0,27005.0,0.0,0.0,0.0
2000-01-25,112.85,113.70,111.60,112.85,0.95,NaN,4014.0,26815.0,0.0,0.0,0.0
2000-01-26,115.15,115.30,111.90,115.15,2.30,NaN,5796.0,25635.0,0.0,0.0,0.0
2000-01-27,114.60,116.40,112.80,114.60,-0.55,NaN,5477.0,24993.0,0.0,0.0,0.0
2000-01-28,114.70,115.40,113.70,114.70,0.10,NaN,3334.0,24300.0,0.0,0.0,0.0
2000-01-31,111.10,114.00,110.50,111.10,-3.60,NaN,6465.0,23855.0,0.0,0.0,0.0
2000-02-01,111.65,112.75,109.80,111.65,0.55,NaN,5964.0,23684.0,0.0,0.0,0.0
2000-02-02,112.25,114.25,111.75,112.25,0.60,NaN,5055.0,23983.0,0.0,0.0,0.0
2000-02-03,112.95,113.50,111.25,112.95,0.70,NaN,4181.0,23064.0,0.0,0.0,0.0
2000-02-04,112.90,114.50,112.50,112.90,-0.05,NaN,4107.0,22111.0,0.0,0.0,0.0
2000-02-07,111.70,114.25,111.25,111.70,-1.20,NaN,6155.0,21346.0,0.0,0.0,0.0
2000-02-08,108.55,112.40,108.50,108.55,-3.15,NaN,11717.0,21117.0,0.0,0.0,0.0
2000-02-09,107.70,109.40,106.90,107.70,-0.85,NaN,6700.0,20956.0,0.0,0.0,0.0
2000-02-10,108.75,109.00,107.30,108.75,1.05,NaN,5121.0,20152.0,0.0,0.0,0.0
2000-02-11,108.80,110.70,108.40,108.80,0.05,NaN,6053.0,19381.0,0.0,0.0,0.0
2000-02-14,105.00,107.60,104.25,105.00,-3.80,NaN,7749.0,15961.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2017-10-05,125.75,127.65,124.30,127.20,2.05,125.70,14902.0,113459.0,271.0,1025.0,NaN
2017-10-06,127.90,130.70,127.40,130.00,2.80,129.06,18118.0,114367.0,223.0,33.0,NaN
2017-10-09,131.00,131.90,129.80,130.95,0.95,131.09,17442.0,113427.0,282.0,68.0,NaN
2017-10-10,131.00,132.70,130.05,131.00,0.05,131.47,21706.0,112152.0,849.0,80.0,NaN
2017-10-11,129.80,129.85,128.55,126.80,-4.20,129.27,2807.0,NaN,69.0,NaN,NaN
2017-10-12,127.20,127.80,125.40,126.35,-0.45,126.42,16888.0,112728.0,140.0,17.0,NaN
2017-10-13,126.40,127.15,125.45,126.45,0.10,126.37,14593.0,113267.0,564.0,14.0,NaN
2017-10-16,126.10,126.45,123.70,123.75,-2.70,124.66,19768.0,113253.0,838.0,29.0,NaN
2017-10-17,123.75,125.05,123.00,124.15,0.40,124.11,15252.0,116289.0,360.0,22.0,NaN
2017-10-18,124.15,124.70,123.00,124.30,0.15,123.83,12319.0,117946.0,349.0,3.0,NaN
2017-10-19,124.75,128.05,124.50,126.85,2.55,126.80,20374.0,119706.0,452.0,17.0,NaN
2017-10-20,126.95,127.95,124.00,125.25,-1.60,125.49,17834.0,118568.0,718.0,3.0,NaN
2017-10-23,125.10,126.50,123.85,124.35,-0.90,125.18,12532.0,118802.0,245.0,6.0,NaN
2017-10-24,124.25,124.75,122.85,123.20,-1.15,123.73,13992.0,119064.0,423.0,9.0,NaN
2017-10-25,123.30,125.30,123.10,124.10,0.90,124.16,13174.0,121369.0,600.0,54.0,NaN
2017-10-26,124.40,124.90,123.00,124.55,0.45,123.94,18914.0,121593.0,557.0,14.0,NaN
2017-10-27,124.00,127.50,123.70,126.60,2.05,126.16,21413.0,119703.0,517.0,19.0,NaN
2017-10-30,127.00,127.75,125.05,125.90,-0.70,126.34,12843.0,117380.0,665.0,72.0,NaN
2017-10-31,125.10,125.70,124.15,125.10,-0.80,124.83,22004.0,116926.0,431.0,92.0,NaN
2017-11-01,124.70,126.20,121.20,122.95,-2.15,122.71,34714.0,114662.0,634.0,9.0,NaN
2017-11-02,123.35,127.60,122.55,126.40,3.45,125.23,33634.0,118155.0,397.0,28.0,NaN
2017-11-03,127.15,127.40,123.25,123.95,-2.45,125.00,25591.0,110083.0,568.0,2.0,NaN
2017-11-06,123.95,126.40,122.25,125.55,1.60,124.56,18625.0,108465.0,301.0,3.0,NaN
2017-11-07,125.50,125.80,123.10,124.70,-0.85,124.52,29168.0,106268.0,1906.0,4.0,NaN
2017-11-08,125.05,125.90,124.20,125.75,1.05,125.16,30256.0,97890.0,368.0,15.0,NaN
2017-11-09,125.55,127.40,125.00,126.40,0.65,126.54,31153.0,84887.0,437.0,3761.0,NaN
2017-11-10,126.05,128.35,125.50,127.55,1.15,127.17,34377.0,69528.0,502.0,955.0,NaN
2017-11-13,127.50,128.15,126.65,127.60,0.05,127.56,29172.0,53318.0,628.0,2824.0,NaN
2017-11-14,127.55,129.00,124.25,127.05,-0.55,126.64,25523.0,42177.0,2678.0,99.0,NaN
2017-11-15,127.15,128.10,125.65,126.75,-0.30,126.78,13652.0,30587.0,1045.0,240.0,NaN